<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Science-for-ALMA" data-toc-modified-id="Data-Science-for-ALMA-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Science for ALMA</a></span><ul class="toc-item"><li><span><a href="#Notebook-1:-inspecting-the-Archive-and-introduction-to-pandas" data-toc-modified-id="Notebook-1:-inspecting-the-Archive-and-introduction-to-pandas-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Notebook 1: inspecting the Archive and introduction to pandas</a></span></li><li><span><a href="#Useful-resources" data-toc-modified-id="Useful-resources-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Useful resources</a></span><ul class="toc-item"><li><span><a href="#Jupyter-notebooks" data-toc-modified-id="Jupyter-notebooks-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Jupyter notebooks</a></span></li><li><span><a href="#Conda-environments" data-toc-modified-id="Conda-environments-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Conda environments</a></span></li><li><span><a href="#cx_Oracle-library" data-toc-modified-id="cx_Oracle-library-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span><code>cx_Oracle</code> library</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Pandas</a></span></li><li><span><a href="#Online-classes" data-toc-modified-id="Online-classes-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Online classes</a></span></li><li><span><a href="#Cheat-Sheets" data-toc-modified-id="Cheat-Sheets-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Cheat Sheets</a></span></li></ul></li><li><span><a href="#Creating-and-managing-the-conda-environment-for-your-training" data-toc-modified-id="Creating-and-managing-the-conda-environment-for-your-training-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating and managing the conda environment for your training</a></span></li><li><span><a href="#Using-cx_Oracle-and-pandas-to-inspect-the-Archive" data-toc-modified-id="Using-cx_Oracle-and-pandas-to-inspect-the-Archive-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Using cx_Oracle and pandas to inspect the Archive</a></span><ul class="toc-item"><li><span><a href="#Querying-for-all-the-available-Tables" data-toc-modified-id="Querying-for-all-the-available-Tables-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Querying for all the available Tables</a></span></li><li><span><a href="#First-pandas's-inspection-methods" data-toc-modified-id="First-pandas's-inspection-methods-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>First <code>pandas</code>'s inspection methods</a></span><ul class="toc-item"><li><span><a href="#.info()" data-toc-modified-id=".info()-1.4.2.1"><span class="toc-item-num">1.4.2.1&nbsp;&nbsp;</span><code>.info()</code></a></span></li><li><span><a href="#.head()-and-.tail()" data-toc-modified-id=".head()-and-.tail()-1.4.2.2"><span class="toc-item-num">1.4.2.2&nbsp;&nbsp;</span><code>.head()</code> and <code>.tail()</code></a></span></li><li><span><a href="#.describe()" data-toc-modified-id=".describe()-1.4.2.3"><span class="toc-item-num">1.4.2.3&nbsp;&nbsp;</span><code>.describe()</code></a></span></li><li><span><a href="#Accessing/selecting-columns-and-rows" data-toc-modified-id="Accessing/selecting-columns-and-rows-1.4.2.4"><span class="toc-item-num">1.4.2.4&nbsp;&nbsp;</span>Accessing/selecting columns and rows</a></span></li><li><span><a href="#Pandas-columns/rows-as-Series" data-toc-modified-id="Pandas-columns/rows-as-Series-1.4.2.5"><span class="toc-item-num">1.4.2.5&nbsp;&nbsp;</span>Pandas columns/rows as Series</a></span></li></ul></li><li><span><a href="#Going-Back-to-the-all_tables_df" data-toc-modified-id="Going-Back-to-the-all_tables_df-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Going Back to the <code>all_tables_df</code></a></span></li><li><span><a href="#Querying-more-detailed-information-for-the-available-tables" data-toc-modified-id="Querying-more-detailed-information-for-the-available-tables-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Querying more detailed information for the available tables</a></span></li></ul></li><li><span><a href="#Shiftlog-Database" data-toc-modified-id="Shiftlog-Database-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Shiftlog Database</a></span><ul class="toc-item"><li><span><a href="#Shiftlog-Main-Table:-SHIFTLOG_ENTRIES" data-toc-modified-id="Shiftlog-Main-Table:-SHIFTLOG_ENTRIES-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Shiftlog Main Table: <code>SHIFTLOG_ENTRIES</code></a></span><ul class="toc-item"><li><span><a href="#Shift-Entries:-SE_TYPE-1" data-toc-modified-id="Shift-Entries:-SE_TYPE-1-1.5.1.1"><span class="toc-item-num">1.5.1.1&nbsp;&nbsp;</span>Shift Entries: SE_TYPE 1</a></span></li></ul></li></ul></li><li><span><a href="#Exercise:-inspect-the-other-entries" data-toc-modified-id="Exercise:-inspect-the-other-entries-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Exercise: inspect the other entries</a></span></li><li><span><a href="#Optional-exercise:-accessing-the-Source-Catalog-Tables" data-toc-modified-id="Optional-exercise:-accessing-the-Source-Catalog-Tables-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Optional exercise: accessing the Source Catalog Tables</a></span></li></ul></li></ul></div>

# Data Science for ALMA

## Notebook 1: inspecting the Archive and introduction to pandas

This is the first notebook in a series to train ourselves in data science projects. The goals are:

1. Familiarize with Jupyter notebooks
2. Create your first local conda environment
3. Connect to the Archive using `cx_Oracle`
4. Introduction to pandas methods

## Useful resources

### Jupyter notebooks

* The official documentation can be found at this [Jupyter Notebooks](http://jupyter-notebook.readthedocs.io/en/stable/)
* Some simple tutorials:
   * [Jupyter Notebook for Beginners: A Tutorial](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)
   * [Getting Started with jupyter notebook for python](https://codingthesmartway.com/getting-started-with-jupyter-notebook-for-python/)
   * [Plotly with Jupyter Notebooks](https://plot.ly/python/ipython-notebook-tutorial/), a more ad-hoc tutorial aimed to the use of the plotly library for visualizations, but is a nice example of advanced uses.
* [Jupyter Notebook tips, tricks, and shortcuts](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/), a great resource for tips and hints!
* Extending Jupyter Notebooks

### Conda environments

We will use the Jupyter Hub interface to create a conda environment for this notebook, but the original documentation to manage *conda* can be found [here](https://conda.io/docs/user-guide/tasks/manage-environments.html). From there you can also access the full documentation for (ana)[conda](https://conda.io/docs/index.html)

### `cx_Oracle` library

The documentation and resources are much more sparse. Usually, google search and links to [stackoverflow](https://stackoverflow.com/search?q=cx_Oracle) will be your best guide.

Yet, the official documentation is at this [link](http://cx-oracle.readthedocs.io/en/latest/), and [some advanced samples here](https://github.com/oracle/python-cx_Oracle/tree/master/samples).

### Pandas

The amount of tutorials and introductions to pandas is just overwhelming. Here is just a personal selection:

* Official documentation for the latest version [here](http://pandas.pydata.org/pandas-docs/stable/)
* Official quick guide: [10 Minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
* Cookbook: [Pandas cookbook](https://github.com/jvns/pandas-cookbook)
* [Python for data science](http://wavedatalab.github.io/datawithpython/index.html)
* Official list of tutorials: [Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)

### Online classes

If you think you can get some support from ALMA to pay for some online traing, then check out:

* Datacamp: [Data Scientist with Python](https://www.datacamp.com/tracks/data-scientist-with-python) track.
* edX: [Data Science micromaster](https://www.edx.org/micromasters/data-science) (All four classes can be audited for free! Meaning you can get all the class materials, but you don't get any certificates)
* Coursera: [Applied Data Science with Python Specialization](https://courses.edx.org/course_modes/choose/course-v1:UCSanDiegoX+DSE210x+1T2018/). A trial is available.


### Cheat Sheets

* [Importing Data with Python](http://datacamp-community.s3.amazonaws.com/50d31142-3de0-4159-89b9-18b718a728ef)
* [Pandas Cheat sheet](http://datacamp-community.s3.amazonaws.com/fbc502d0-46b2-4e1b-b6b0-5402ff273251)
* [Jupyter Notebook Cheat Sheet](http://datacamp-community.s3.amazonaws.com/48093c40-5303-45f4-bbf9-0c96c0133c40)
* [Pandas Cheat Sheet: Data Wrangling in Python](http://datacamp-community.s3.amazonaws.com/9f0f2ae1-8bd8-4302-a67b-e17f3059d9e8)

## Creating and managing the conda environment for your training

While we've seen that there is an interface to manage your conda environments within your jupyter server, we will use the terminal interface to create an environment to use in our training notebooks, the reason being that the integrated interface is kind of buggy still (useful to add packages or libraries, but not working good enough to create or clone environments)

1. Go to your `Home` jupyter browser tab:
![Selection_001.png](img/Selection_001.png)
2. Open a terminal. The new terminal will open in new browser tab:
![Selection_009.png](img/Selection_009.png)
   Like this
![Selection_010.png](img/Selection_010.png)
3. In the terminal run `cp /etc/jupyterhub/Notebooks/datascience3.txt .` to copy a file that has the definitions to create a conda environment with the same specs as the one used to originally create this notebook (feel free to check its contents, and check the [conda documentation](https://conda.io/docs/index.html) to learn more).
4. Create the new conda enviroment in the terminal: `conda env create -n datascience3 -f datascience3.txt`. What this command does is to create a new conda environment called `datascience3` (option -n) using the specifications detailed in the file `datascience3` (option -f). Wait for the command to end.
5. It is a good practice, to save space, to run `conda clean --all` after you create an environment or after you add or update new packages or libraries. This will clean the cache of all the downloaded files.
6. If you were to work with python in the command line, to activate the new environment you would run `source activate datascience3`. To deactivate the environment and go back to the root environment, you just need to run `source deactivate`
7. Shutdown the terminal by execution `exit` and closing the terminal tab in your browser.

For our first exercise we are almost done. The only reminding step is to set the kernel for this notebook to be the one provided by your knew `datascience3` environment, using the menu at the top of the notebook `Kernel > Change Kernel > Python [conda env:datascience3]`. Now, in your home tab, you should also be capable of creating new notebooks with the new Kernel.

**If you don't see the new Kernel as an option**: Save and close this notebook (`File > Save and Checkpoint` and then `File > Close and Halt`). Now logout form the Jupyter server by pressing `Logout` in the top right corner, log in again, and open this notebook to continue.

## Using cx_Oracle and pandas to inspect the Archive

### Querying for all the available Tables

We will start by loading the libraries, read a *connection string* (to be discussed live in our next session), and open a connection to the read-only version of the archive.

In [1]:
# Any line beggining in a code-cel with a # is a comment line, and won't be 
# executed

import os
import pandas as pd
import cx_Oracle

connection_string = os.environ['CON_STR']

In [2]:
# Create connection to the read-only DB
con = cx_Oracle.connect(connection_string)

In [3]:
# Create a cursor to do SQL queries. The cursor is the object that is used to do 
# queries to the archive
cur = con.cursor()

To execute an SQL query we use the `execute` method of the `cur` object we just created (`cur.execute()`). The SQL queries are strings. For example, let's query for all the available tables in the archive. The query string we will store in `sql_all_tables`

In [4]:
sql_all_tables = """
SELECT DISTINCT OWNER, OBJECT_NAME, OBJECT_TYPE
  FROM ALL_OBJECTS
 WHERE OBJECT_TYPE = 'TABLE'
"""

Next, we request to the database to execute the query:

In [5]:
cur.execute(sql_all_tables)

And to get the results we use the method `fetchall`:

In [6]:
cur.fetchall()

[('SYS', 'CCOL$', 'TABLE'),
 ('SYS', 'BOOTSTRAP$', 'TABLE'),
 ('SYS', 'UET$', 'TABLE'),
 ('SYS', 'HISTGRM$', 'TABLE'),
 ('SYS', 'HIST_HEAD$', 'TABLE'),
 ('SYS', 'DEFERRED_STG$', 'TABLE'),
 ('SYS', 'DEPENDENCY$', 'TABLE'),
 ('SYS', 'SEQ$', 'TABLE'),
 ('SYS', 'LOB$', 'TABLE'),
 ('SYS', 'EDITION$', 'TABLE'),
 ('SYS', 'ICOLDEP$', 'TABLE'),
 ('SYS', 'CONTAINER$', 'TABLE'),
 ('SYS', 'CDB_FILE$', 'TABLE'),
 ('SYS', 'VIEW_PDB$', 'TABLE'),
 ('SYS', 'FED$STATEMENT$ERRORS', 'TABLE'),
 ('SYS', 'FED$APP$STATUS', 'TABLE'),
 ('SYS', 'FED$DEPENDENCY', 'TABLE'),
 ('SYS', 'TRIGGERJAVAF$', 'TABLE'),
 ('SYS', 'TRANSIENT_IOT$', 'TABLE'),
 ('SYS', 'CLSTKEY$', 'TABLE'),
 ('SYS', 'CLSTJOIN$', 'TABLE'),
 ('SYS', 'SQLOBJ$AUXDATA', 'TABLE'),
 ('SYS', 'IDL_UB1$', 'TABLE'),
 ('SYS', 'IDL_UB2$', 'TABLE'),
 ('SYS', 'RESOURCE_PLAN_DIRECTIVE$', 'TABLE'),
 ('SYS', 'EXP_SERVICE$', 'TABLE'),
 ('SYS', 'DIR$SERVICE_OPERATIONS', 'TABLE'),
 ('SYS', 'DIR$VICTIM_POLICY', 'TABLE'),
 ('SYS', 'DIR$NODE_ATTRIBUTES', 'TABLE'),
 ('SYS', 'AUDIT$', 'TABLE'),
 ('SYS', 'SYSTEM_PRIVILEGE_MAP', 'TABLE'),
 ('SYS', 'TABLE_PRIVILEGE_MAP', 'TABLE'),
 ('SYS', 'ENC$', 'TABLE'),
 ('SYS', 'XSDB$SCHEMA_ACL', 'TABLE'),
 ('SYS', 'ACLMVSUBTBL$', 'TABLE'),
 ('SYS', 'DAM_CONFIG_PARAM$', 'TABLE'),
 ('SYS', 'COL_USAGE$', 'TABLE'),
 ('SYS', 'OPT_FINDING$', 'TABLE'),
 ('SYS', 'STATS_ADVISOR_FILTER_OPR$', 'TABLE'),
 ('SYS', 'OPTSTAT_SNAPSHOT$', 'TABLE'),
 ('SYS', 'EXP_HEAD$', 'TABLE'),
 ('SYS', 'DIR$', 'TABLE'),
 ('SYS', 'RESULT$', 'TABLE'),
 ('SYS', 'KOTTB$', 'TABLE'),
 ('SYS', 'KOTAD$', 'TABLE'),
 ('SYS', 'INDTYPES$', 'TABLE'),
 ('SYS', 'INDOP$', 'TABLE'),
 ('SYS', 'DEFSUBPART$', 'TABLE'),
 ('SYS', 'SNAP_REFOP$', 'TABLE'),
 ('SYS', 'SNAP_OBJCOL$', 'TABLE'),
 ('SYS', 'CDC_PROPAGATIONS$', 'TABLE'),
 ('SYS', 'STREAMS$_PREPARE_DDL', 'TABLE'),
 ('SYS', 'STREAMS$_DEF_PROC', 'TABLE'),
 ('SYS', 'APPLY$_CHANGE_HANDLERS', 'TABLE'),
 ('SYS', 'APPLY$_READER_STATS', 'TABLE'),
 ('SYS', 'STREAMS$_DEST_OBJS', 'TABLE'),
 ('SYS', 'FGR$_FILE_GROUP_FILES', 'TABLE'),
 ('SYS', 'RECO_SCRIPT$', 'TABLE'),
 ('SYS', 'STREAMS$_COMPONENT', 'TABLE'),
 ('SYS', 'XSTREAM$_DML_CONFLICT_HANDLER', 'TABLE'),
 ('SYS', 'RMTAB$', 'TABLE'),
 ('SYS', 'AW_PROP$', 'TABLE'),
 ('SYS', 'AW_TRACK$', 'TABLE'),
 ('SYS', 'OLAP_MAPPINGS$', 'TABLE'),
 ('SYS', 'OLAP_MODELS$', 'TABLE'),
 ('SYS', 'OLAP_CALCULATED_MEMBERS$', 'TABLE'),
 ('SYS', 'OLAP_IMPL_OPTIONS$', 'TABLE'),
 ('SYS', 'HIERLEVEL$', 'TABLE'),
 ('SYS', 'REDEF_TRACK$', 'TABLE'),
 ('SYS', 'INCFIL', 'TABLE'),
 ('SYS', 'EXPACT$', 'TABLE'),
 ('SYS', 'EXPPKGACT$', 'TABLE'),
 ('SYS', 'METANAMETRANS$', 'TABLE'),
 ('SYS', 'MODEL$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_PDB_INFO$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_ERROR$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_SESSION_ACTIONS$', 'TABLE'),
 ('SYS', 'LOGMNRG_USER$', 'TABLE'),
 ('SYS', 'LOGMNRG_ATTRIBUTE$', 'TABLE'),
 ('SYS', 'LOGMNRG_CON$', 'TABLE'),
 ('SYS', 'LOGMNRG_LOBFRAG$', 'TABLE'),
 ('SYS', 'LOGMNRG_SHARD_TS', 'TABLE'),
 ('SYS', 'DST$ERROR_TABLE', 'TABLE'),
 ('SYS', 'SYS_MFBA_STAGE_RID', 'TABLE'),
 ('SYSTEM', 'REDO_DB', 'TABLE'),
 ('SYSTEM', 'REDO_LOG', 'TABLE'),
 ('SYS', 'CLI_TAB$', 'TABLE'),
 ('SYS', 'REGISTRY$ERROR', 'TABLE'),
 ('SYS', 'HCS_DIM$', 'TABLE'),
 ('SYS', 'HCS_DIM_LVL_KEY$', 'TABLE'),
 ('SYS', 'HCS_DIM_LVL_KEY_ATTR$', 'TABLE'),
 ('SYS', 'HCS_HIER_COL$', 'TABLE'),
 ('SYSTEM', 'MVIEW$_ADV_BASETABLE', 'TABLE'),
 ('SYS', 'PSTUBTBL', 'TABLE'),
 ('SYS', 'WRI$_SEGADV_CNTRLTAB', 'TABLE'),
 ('SYS', 'WRI$_EMX_FILES', 'TABLE'),
 ('SYS', 'TSDP_SUBPOL$', 'TABLE'),
 ('SYS', 'TRANSACTION_BACKOUT_STATE$', 'TABLE'),
 ('SYS', 'UTL_RECOMP_COMPILED', 'TABLE'),
 ('SYS', 'REC_TAB$', 'TABLE'),
 ('SYS', 'RULE_SET_ROR$', 'TABLE'),
 ('SYS', 'CHNFDIRECTLOAD$', 'TABLE'),
 ('SYSTEM', 'AQ$_QUEUE_TABLES', 'TABLE'),
 ('SYS', 'WRI$_ADV_DEFINITIONS', 'TABLE'),
 ('SYS', 'WRI$_ADV_DEF_PARAMETERS', 'TABLE'),
 ('SYS', 'WRI$_ADV_TASKS', 'TABLE'),
 ('SYS', 'WRI$_ADV_ACTIONS', 'TABLE'),
 ('SYS', 'WRI$_ADV_REC_ACTIONS', 'TABLE'),
 ('SYS', 'WRI$_ADV_USAGE', 'TABLE'),
 ('SYS', 'WRI$_ADV_ADDM_PDBS', 'TABLE'),
 ('SYS', 'SCHEDULER$_PROGRAM', 'TABLE'),
 ('SYS', 'SCHEDULER$_LIGHTWEIGHT_JOB', 'TABLE'),
 ('SYS', 'SCHEDULER$_CREDENTIAL', 'TABLE'),
 ('SYS', 'SCHEDULER$_JOB_DESTINATIONS', 'TABLE'),
 ('SYSTEM', 'OL$', 'TABLE'),
 ('SYS', 'WRI$_SQLSET_STATEMENTS', 'TABLE'),
 ('SYS', 'SQLOBJ$PLAN_DATAPUMP_TBL', 'TABLE'),
 ('SYS', 'WRR$_REPLAY_COMMIT_REMAPPING', 'TABLE'),
 ('SYS', 'WRR$_ASREPLAY_DATA', 'TABLE'),
 ('SYS', 'WRR$_REPLAY_SCHEDULES', 'TABLE'),
 ('SYS', 'WRR$_SCHEDULE_CAPTURES', 'TABLE'),
 ('SYS', 'WI$_STATEMENT', 'TABLE'),
 ('SYS', 'WI$_FREQUENT_PATTERN_METADATA', 'TABLE'),
 ('SYSTEM', 'LOGMNRC_CONCOL_GG', 'TABLE'),
 ('SYSTEM', 'LOGMNRC_INDCOL_GG', 'TABLE'),
 ('SYSTEM', 'LOGMNR_TS$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_TABSUBPART$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_CON$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_INDPART$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_OPQTYPE$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_PARTOBJ$', 'TABLE'),
 ('SYS', 'DBFS_SFS$_TAB', 'TABLE'),
 ('SYS', 'XS$WORKSPACE', 'TABLE'),
 ('SYS', 'XS$ROLE_GRANT', 'TABLE'),
 ('SYS', 'XS$ATTR_SEC', 'TABLE'),
 ('SYS', 'XS$INSTSET_RULE', 'TABLE'),
 ('SYS', 'NACL$_HOST', 'TABLE'),
 ('SYS', 'PRIV_USED_PATH$', 'TABLE'),
 ('SYS', 'WRR$_MASKING_PARAMETERS', 'TABLE'),
 ('SYS', 'OPATCH_XINV_TAB', 'TABLE'),
 ('SYS', 'OPATCH_INST_JOB', 'TABLE'),
 ('DBSFWUSER', 'EXADIRECT_ACL', 'TABLE'),
 ('SYS', 'EXTERNAL_SCN_ACTIVITY$', 'TABLE'),
 ('SYS', 'IM_DOMAIN$', 'TABLE'),
 ('SYS', 'SYSDBIMFSDBA$', 'TABLE'),
 ('SYS', 'ORA_FCP_PARAMS$', 'TABLE'),
 ('SYS', 'WRH$_FILESTATXS', 'TABLE'),
 ('SYS', 'WRH$_SYSTEM_EVENT', 'TABLE'),
 ('SYS', 'WRH$_WAITSTAT', 'TABLE'),
 ('SYS', 'WRH$_WAITSTAT_BL', 'TABLE'),
 ('SYS', 'WRH$_LATCH_CHILDREN_BL', 'TABLE'),
 ('SYS', 'WRH$_LATCH_MISSES_SUMMARY_BL', 'TABLE'),
 ('SYS', 'WRH$_EVENT_HISTOGRAM_BL', 'TABLE'),
 ('SYS', 'WRH$_SYSSTAT', 'TABLE'),
 ('SYS', 'WRH$_CON_SYS_TIME_MODEL_BL', 'TABLE'),
 ('SYS', 'WRH$_PARAMETER_BL', 'TABLE'),
 ('SYS', 'WRH$_OSSTAT_NAME', 'TABLE'),
 ('SYS', 'WRH$_SQLCOMMAND_NAME', 'TABLE'),
 ('SYS', 'WRH$_UNDOSTAT', 'TABLE'),
 ('SYS', 'WRH$_METRIC_NAME', 'TABLE'),
 ('SYS', 'WRH$_DLM_MISC', 'TABLE'),
 ('SYS', 'WRH$_ACTIVE_SESSION_HISTORY', 'TABLE'),
 ('SYS', 'WRH$_TABLESPACE_STAT', 'TABLE'),
 ('SYS', 'WRH$_PERSISTENT_SUBSCRIBERS', 'TABLE'),
 ('SYS', 'WRH$_ASM_BAD_DISK', 'TABLE'),
 ('SYS', 'WRH$_CELL_GLOBAL_SUMMARY', 'TABLE'),
 ('SYS', 'WRH$_CELL_GLOBAL_SUMMARY_BL', 'TABLE'),
 ('SYS', 'WRH$_CELL_DISK_SUMMARY_BL', 'TABLE'),
 ('SYS', 'WRH$_CELL_OPEN_ALERTS', 'TABLE'),
 ('SYS', 'WRH$_SHARED_SERVER_SUMMARY', 'TABLE'),
 ('SYS', 'WRH$_DYN_REMASTER_STATS', 'TABLE'),
 ('SYS', 'WRH$_PERSISTENT_QMN_CACHE', 'TABLE'),
 ('SYS', 'WRM$_DATABASE_INSTANCE', 'TABLE'),
 ('SYS', 'WRM$_SNAP_ERROR', 'TABLE'),
 ('SYS', 'SQL_TK_REF_CHK$', 'TABLE'),
 ('SYS', 'XS$VALIDATION_TABLE', 'TABLE'),
 ('SYS', 'OFSMTAB$', 'TABLE'),
 ('SYS', 'WRI$_OPTSTAT_HISTHEAD_HISTORY', 'TABLE'),
 ('SYS', 'APPLY$_ERROR_TXN', 'TABLE'),
 ('AUDSYS', 'AUD$UNIFIED', 'TABLE'),
 ('SYS', 'AQ$_SCHEDULER$_EVENT_QTAB_L', 'TABLE'),
 ('SYS', 'AQ$_SCHEDULER_FILEWATCHER_QT_H', 'TABLE'),
 ('SYS', 'AQ$_ALERT_QT_H', 'TABLE'),
 ('SYS', 'RPP$X$KCCDI2', 'TABLE'),
 ('SYS', 'RPP$X$KCVFHTMP', 'TABLE'),
 ('SYS', 'RPP$X$KCVFHALL', 'TABLE'),
 ('SYS', 'ROPP$X$KCCBL', 'TABLE'),
 ('SYS', 'ROPP$X$KCCFN', 'TABLE'),
 ('SYS', 'ROPP$X$KCCOR', 'TABLE'),
 ('SYS', 'KU$_DATAPUMP_MASTER_12_2', 'TABLE'),
 ('SYS', 'KU$_DATAPUMP_MASTER_12_0', 'TABLE'),
 ('SYS', 'HS$_FDS_INST', 'TABLE'),
 ('SYS', 'HS$_PARALLEL_METADATA', 'TABLE'),
 ('SYS', 'WRHS$_PARAMETER_NAME', 'TABLE'),
 ('DBSNMP', 'MGMT_BASELINE', 'TABLE'),
 ('DBSNMP', 'BSLN_THRESHOLD_PARAMS', 'TABLE'),
 ('APPQOSSYS', 'WLM_METRICS_STREAM', 'TABLE'),
 ('GSMADMIN_INTERNAL', 'GSM', 'TABLE'),
 ('GSMADMIN_INTERNAL', 'VNCR', 'TABLE'),
 ('GSMADMIN_INTERNAL', 'BROKER_CONFIGS', 'TABLE'),
 ('GSMADMIN_INTERNAL', 'FILES', 'TABLE'),
 ('GSMADMIN_INTERNAL', 'TABLE_FAMILY', 'TABLE'),
 ('XDB', 'XDB$H_LINK', 'TABLE'),
 ('XDB', 'XDB$ANY', 'TABLE'),
 ('XDB', 'XDB$ATTRGROUP_REF', 'TABLE'),
 ('XDB', 'XDB$XIDX_PART_TAB', 'TABLE'),
 ('XDB', 'JSON$COLLECTION_METADATA', 'TABLE'),
 ('WMSYS', 'WM$RIC_LOCKING_TABLE$', 'TABLE'),
 ('WMSYS', 'WM$UDTRIG_INFO$', 'TABLE'),
 ('WMSYS', 'WM$WORKSPACE_PRIV_TABLE$', 'TABLE'),
 ('SYSTEM', 'SQLPLUS_PRODUCT_PROFILE', 'TABLE'),
 ('SYS', 'JAVA$RMJVM$AUX2', 'TABLE'),
 ('SYS', 'JAVA$COMPILER$OPTIONS', 'TABLE'),
 ('SYS', 'JAVA$JOX$CUJS$STATUS$', 'TABLE'),
 ('CTXSYS', 'DR$OBJECT_ATTRIBUTE', 'TABLE'),
 ('CTXSYS', 'DR$SECTION_ATTRIBUTE', 'TABLE'),
 ('CTXSYS', 'DR$STOPWORD', 'TABLE'),
 ('CTXSYS', 'DR$INDEX_SET', 'TABLE'),
 ('CTXSYS', 'DR$ONLINE_PENDING', 'TABLE'),
 ('CTXSYS', 'DR$FREQTOKS', 'TABLE'),
 ('CTXSYS', 'DR$USER_EXTRACT_ENTDICT', 'TABLE'),
 ('CTXSYS', 'DR$AUTOOPT', 'TABLE'),
 ('ORDDATA', 'ORDDCM_VR_DT_MAP', 'TABLE'),
 ('ORDDATA', 'ORDDCM_PREFS_DEF_VALUES_TAB', 'TABLE'),
 ('ORDDATA', 'ORDDCM_CT_LOCATORPATHS', 'TABLE'),
 ('ORDDATA', 'ORDDCM_PROTOCOL_ATTR_CONFIG', 'TABLE'),
 ('ORDDATA', 'ORDDCM_PR_WADO_CONFIG_WRK', 'TABLE'),
 ('ORDDATA', 'ORDDCM_PROTOCOL_METADATA', 'TABLE'),
 ('ORDDATA', 'ORDDCM_STD_ATTRS_TMP', 'TABLE'),
 ('ORDDATA', 'ORDDCM_MAPPING_DOCS_TMP', 'TABLE'),
 ('ORDDATA', 'ORDDCM_CT_LOCATORPATHS_TMP', 'TABLE'),
 ('ORDDATA', 'ORDDCM_MAPPED_PATHS_WRK', 'TABLE'),
 ('ORDDATA', 'ORDDCM_ANON_ATTRS_WRK', 'TABLE'),
 ('ORDDATA', 'ORDDCM_UID_DEFS_WRK', 'TABLE'),
 ('ORDDATA', 'ORDDCM_CT_MACRO_DEP_WRK', 'TABLE'),
 ('MDSYS', 'SRSNAMESPACE_TABLE', 'TABLE'),
 ('MDSYS', 'SDO_COORD_OP_PARAM_VALS', 'TABLE'),
 ('MDSYS', 'SDO_INDEX_METADATA_TABLE', 'TABLE'),
 ('MDSYS', 'SDO_TOPO_LAYER_TABLE', 'TABLE'),
 ('MDSYS', 'OGIS_GEOMETRY_COLUMNS', 'TABLE'),
 ('MDSYS', 'SDO_MAPS_TABLE', 'TABLE'),
 ('MDSYS', 'SDO_TOPO_RELATION_DATA', 'TABLE'),
 ('MDSYS', 'OPENLS_NODES', 'TABLE'),
 ('MDSYS', 'CURRENTSESSIONTOKENMAP_T$', 'TABLE'),
 ('MDSYS', 'TOKENSESSIONMAP_T$', 'TABLE'),
 ('MDSYS', 'CSW_RECORDTABLEUPDATED$', 'TABLE'),
 ('MDSYS', 'CSW_RECORDDOMAINUPDATED$', 'TABLE'),
 ('MDSYS', 'SDO_PC_BLK_TABLE', 'TABLE'),
 ('MDSYS', 'SDO_NETWORK_TIMESTAMPS', 'TABLE'),
 ('LBACSYS', 'OLS$PROPS', 'TABLE'),
 ('DVSYS', 'RULE_SET_RULE$', 'TABLE'),
 ('DVSYS', 'REALM_OBJECT$', 'TABLE'),
 ('DVSYS', 'POLICY_OBJECT$', 'TABLE'),
 ('SPT', 'SPT_SCHEDBLOCK_STRINGENCY', 'TABLE'),
 ('SPT', 'DBMAINTAIN_SCRIPTS', 'TABLE'),
 ('OGGADMIN', 'SYS_IOT_OVER_96213', 'TABLE'),
 ('SYS', 'SYSNTJT8M+5-W9Z0H0QG5X8=4D0=F', 'TABLE'),
 ('ALMA', 'SHIFTLOG_SB_USED_TIME', 'TABLE'),
 ('ALMA', 'TRUSTED_ACCOUNTS', 'TABLE'),
 ('ALMA', 'ASA_SCIENCE_KEYWORD_CATEGORY', 'TABLE'),
 ('ALMA', 'DBMAINTAIN_SCRIPTS_VERSION', 'TABLE'),
 ('ALMA', 'BMMV_PROJ_TIME_CONSTRAINT', 'TABLE'),
 ('ALMA', 'SHIFTLOG_SB_USED_TIME_BAK', 'TABLE'),
 ('ALMA', 'ASA_COLUMNS', 'TABLE'),
 ('ALMA', 'BMMV_SCHEDBLOCK_POLARISATION', 'TABLE'),
 ('ALMA', 'PRJ_OPERATIONS', 'TABLE'),
 ('ALMA', 'PH1M_PANEL_MEMBER', 'TABLE'),
 ('ALMA', 'ASA_OUS', 'TABLE'),
 ('ALMA', 'BMMV_SCHEDBLOCK', 'TABLE'),
 ('ALMA', 'XML_CALIBRATIONFUNCTI_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_CALPRIMARYBEAMTAB_ENTITIES', 'TABLE'),
 ('ALMA', 'SCHED_BLOCK_STATUS', 'TABLE'),
 ('ALMA', 'XML_CALPOSITIONTABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_STATIONTYPE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_EPHEMERISTABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_CALDEVICETABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_ACAPOLARIZATION_ENTITIES', 'TABLE'),
 ('ALMA', 'AQUA_PIPELINE_RUN', 'TABLE'),
 ('ALMA', 'XML_BASELINEREFERENCE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_ACSCOMMANDCENTERT_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_WVRMETHOD_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_STATIONTABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'ASA_MAIL_TEMPLATES', 'TABLE'),
 ('ALMA', 'XML_CALAPPPHASETABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_WINDOWFUNCTION_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_RECEIVERSIDEBAND_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_ANNOTATIONTABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_OBSERVINGMODE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_FLAGTABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_PREFERENCES_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_ACSERROR_ENTITIES', 'TABLE'),
 ('ALMA', 'XML_CALAMPLITABLE_ENTITIES', 'TABLE'),
 ('ALMA', 'PROPOSAL_CYCLE2_BACKUP', 'TABLE'),
 ('ALMA', 'PRJ_ATTACHMENT', 'TABLE'),
 ('ALMA', 'XML_USER_ENTITIES', 'TABLE'),
 ('ALMA', 'OBS_UNIT_SET_STATUS', 'TABLE'),
 ('ALMA', 'XML_SCIPIPEREQUEST_ENTITIES', 'TABLE'),
 ('SYS', 'WRI$_ADV_OBJSPACE_CHROW_DATA', 'TABLE'),
 ('SOURCECATALOGUE', 'TYPES', 'TABLE'),
 ('ALMA', 'DR$TITLE_IDX$R', 'TABLE'),
 ('OGGADMIN', 'GG_HEARTBEAT_HISTORY', 'TABLE'),
 ('TMC', 'POINTINGMODELCOEFFOFFSET', 'TABLE'),
 ('TMC', 'CENTRALLO', 'TABLE'),
 ('TMC', 'ASSEMBLY', 'TABLE'),
 ('TMC', 'FRONTEND', 'TABLE'),
 ('TMC', 'HOLOGRAPHYTOWERTOPAD', 'TABLE'),
 ('TMC', 'REDUCTIONTHRESHOLD', 'TABLE'),
 ('TMC', 'DEFAULTCANADDRESS', 'TABLE'),
 ('NGAS', 'NMBK_BACKUP', 'TABLE'),
 ('NGAS', 'ALMA_TRAVELLING_FILES', 'TABLE'),
 ('NGAS', 'NGAS_FILES', 'TABLE'),
 ('NGAS', 'ALMA_MIRRORING_EXCLUSIONS', 'TABLE'),
 ('NGAS', 'SCHEMA_VERSION', 'TABLE'),
 ('TMC', 'PLAN_TABLE', 'TABLE'),
 ('SOURCECATALOGUE', 'CATALOGUES', 'TABLE'),
 ('TMC', 'ASSEMBLYTYPE', 'TABLE'),
 ('DASHBOARD', 'DASHBOARD_EVENT', 'TABLE'),
 ('NGASGG', 'NGAS_SUBSCRIBERS', 'TABLE'),
 ('NGASGG', 'NGAS_FILES', 'TABLE'),
 ('SYS', 'AQ$_KUPC$DATAPUMP_QUETAB_2_T', 'TABLE'),
 ('TMC', 'ASSEMBLYROLE', 'TABLE'),
 ('NGAS', 'NGAS_MIRRORING_BOOKKEEPING', 'TABLE'),
 ('REQUEST', 'RH_REQUESTS_MEDIUMS', 'TABLE'),
 ('OGGADMIN', 'OGG$Q_TAB_EALMABB', 'TABLE'),
 ('OGGADMIN', 'AQ$_OGG$Q_TAB_EALMABB_G', 'TABLE'),
 ('OGGADMIN', 'AQ$_OGG$Q_TAB_EALMABB_I', 'TABLE'),
 ('SYS', 'SYS_IOT_OVER_141061', 'TABLE'),
 ('SYS', 'ICOL$', 'TABLE'),
 ('SYS', 'OBJ$', 'TABLE'),
 ('SYS', 'CON$', 'TABLE'),
 ('SYS', 'FILE$', 'TABLE'),
 ('SYS', 'OBJERROR$', 'TABLE'),
 ('SYS', 'FIXED_OBJ$', 'TABLE'),
 ('SYS', 'COLTYPE$', 'TABLE'),
 ('SYS', 'PROPS$', 'TABLE'),
 ('SYS', 'CDBVW_STATS$', 'TABLE'),
 ('SYS', 'LINK$', 'TABLE'),
 ('SYS', 'VIEWTRCOL$', 'TABLE'),
 ('SYS', 'CLSTDIMENSION$', 'TABLE'),
 ('SYS', 'PROCEDURE$', 'TABLE'),
 ('SYS', 'IDL_CHAR$', 'TABLE'),
 ('SYS', 'IDL_SB4$', 'TABLE'),
 ('SYS', 'SETTINGS$', 'TABLE'),
 ('SYS', 'WARNING_SETTINGS$', 'TABLE'),
 ('SYS', 'PENDING_SUB_SESSIONS$', 'TABLE'),
 ('SYS', 'SMON_SCN_TIME', 'TABLE'),
 ('SYS', 'MAP_EXTELEMENT$', 'TABLE'),
 ('SYS', 'JOB$', 'TABLE'),
 ('SYS', 'SERVICE$', 'TABLE'),
 ('SYS', 'CLUSTER_INSTANCES', 'TABLE'),
 ('SYS', 'DIR$ESCALATE_OPERATIONS', 'TABLE'),
 ('SYS', 'DIR$DATABASE_ATTRIBUTES', 'TABLE'),
 ('SYS', 'AUD_POLICY$', 'TABLE'),
 ('SYS', 'STMT_AUDIT_OPTION_MAP', 'TABLE'),
 ('SYS', 'RADM_PE$', 'TABLE'),
 ('SYS', 'PROXY_ROLE_INFO$', 'TABLE'),
 ('SYS', 'XS$PARAMETERS', 'TABLE'),
 ('SYS', 'STATS_TARGET$', 'TABLE'),
 ('SYS', 'FINALHIST$', 'TABLE'),
 ('SYS', 'ATTRCOL$', 'TABLE'),
 ('SYS', 'OID$', 'TABLE'),
 ('SYS', 'TYPE_MISC$', 'TABLE'),
 ('SYS', 'TYPE$', 'TABLE'),
 ('SYS', 'ATTRIBUTE$', 'TABLE'),
 ('SYS', 'METHOD$', 'TABLE'),
 ('SYS', 'OPANCILLARY$', 'TABLE'),
 ('SYS', 'PARTCOL$', 'TABLE'),
 ('SYS', 'INSERT_TSN_LIST$', 'TABLE'),
 ('SYS', 'MLOG$', 'TABLE'),
 ('SYS', 'SNAP_REFTIME$', 'TABLE'),
 ('SYS', 'MLOG_REFCOL$', 'TABLE'),
 ('SYS', 'STREAMS$_EXTRA_ATTRS', 'TABLE'),
 ('SYS', 'STREAMS$_APPLY_MILESTONE', 'TABLE'),
 ('SYS', 'STREAMS$_RULES', 'TABLE'),
 ('SYS', 'APPLY$_SERVER_STATS', 'TABLE'),
 ('SYS', 'STREAMS$_MESSAGE_RULES', 'TABLE'),
 ('SYS', 'STREAMS$_APPLY_SPILL_TXN_LIST', 'TABLE'),
 ('SYS', 'RULESET$', 'TABLE'),
 ('SYS', 'LOG$', 'TABLE'),
 ('SYS', 'RECO_SCRIPT_BLOCK$', 'TABLE'),
 ('SYS', 'RECO_SCRIPT_ERROR$', 'TABLE'),
 ('SYS', 'COMPARISON_SCAN_VAL$', 'TABLE'),
 ('SYS', 'XSTREAM$_REPERROR_HANDLER', 'TABLE'),
 ('SYS', 'OLAP_AW_DEPLOYMENT_CONTROLS$', 'TABLE'),
 ('SYS', 'OLAP_CUBE_DIMENSIONS$', 'TABLE'),
 ('SYS', 'OLAP_HIER_LEVELS$', 'TABLE'),
 ('SYS', 'OLAP_DIMENSIONALITY$', 'TABLE'),
 ('SYS', 'SUMJOIN$', 'TABLE'),
 ('SYS', 'SYNCREF$_GROUPS', 'TABLE'),
 ('SYS', 'SYNCREF$_OBJECT_STATUS', 'TABLE'),
 ('SYS', 'INCVID', 'TABLE'),
 ('SYS', 'EXPDEPACT$', 'TABLE'),
 ('SYS', 'METASTYLESHEET', 'TABLE'),
 ('SYS', 'METAPATHMAP$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_GT_TAB_INCLUDE$', 'TABLE'),
 ('SYSTEM', 'LOGMNRGGC_GTLO', 'TABLE'),
 ('SYSTEM', 'LOGMNR_AGE_SPILL$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_RESTART_CKPT$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_INTEGRATED_SPILL$', 'TABLE'),
 ('SYS', 'LOGMNRG_ATTRCOL$', 'TABLE'),
 ('SYS', 'LOGMNRG_COLTYPE$', 'TABLE'),
 ('SYS', 'LOGMNRG_CDEF$', 'TABLE'),
 ('SYS', 'LOGMNRG_INDPART$', 'TABLE'),
 ('SYS', 'LOGMNRG_NTAB$', 'TABLE'),
 ('SYS', 'LOGMNRG_PROPS$', 'TABLE'),
 ('SYS', 'LOGMNRG_PARTOBJ$', 'TABLE'),
 ('SYS', 'DST$TRIGGER_TABLE', 'TABLE'),
 ('SYS', 'SYS_FBA_TRACKEDTABLES', 'TABLE'),
 ('SYS', 'SYS_MFBA_NTCRV', 'TABLE'),
 ('SYS', 'SYS_FBA_APP_TABLES', 'TABLE'),
 ('SYSTEM', 'ROLLING$CONNECTIONS', 'TABLE'),
 ('SYS', 'CLI_TS$', 'TABLE'),
 ('SYS', 'REGISTRY$UPG_RESUME', 'TABLE'),
 ('SYS', 'TRANSFORMATIONS$', 'TABLE'),
 ('SYS', 'NEW_LOST_WRITE_DATAFILES$', 'TABLE'),
 ('SYS', 'HCS_HIER_ATTR$', 'TABLE'),
 ('SYS', 'HCS_ANALYTIC_VIEW$', 'TABLE'),
 ('SYSTEM', 'MVIEW$_ADV_SQLDEPEND', 'TABLE'),
 ('SYSTEM', 'MVIEW$_ADV_ROLLUP', 'TABLE'),
 ('SYSTEM', 'MVIEW$_ADV_FJG', 'TABLE'),
 ('SYS', 'ILM_EXECUTION$', 'TABLE'),
 ('SYS', 'ILM_PARAM$', 'TABLE'),
 ('SYS', 'HEAT_MAP_STAT$', 'TABLE'),
 ('SYS', 'ADO_IMSEGSTAT$', 'TABLE'),
 ('SYS', 'WRI$_SEGADV_ATTRIB', 'TABLE'),
 ('SYS', 'WRI$_ADV_ASA_RECO_DATA', 'TABLE'),
 ('SYS', 'WRI$_HEATMAP_TOP_OBJECTS', 'TABLE'),
 ('SYS', 'WRI$_REPT_FORMATS', 'TABLE'),
 ('SYS', 'PLAN_TABLE$', 'TABLE'),
 ('SYS', 'TSDP_ASSOCIATION$', 'TABLE'),
 ('SYS', 'UTL_RECOMP_ERRORS', 'TABLE'),
 ('SYS', 'RULE_SET_RDEP$', 'TABLE'),
 ('SYS', 'SYS_IOT_OVER_8299', 'TABLE'),
 ('SYS', 'CPOOL$', 'TABLE'),
 ('SYS', 'SSCR_CAP$', 'TABLE'),
 ('SYS', 'SSCR_RES$', 'TABLE'),
 ('SYS', 'AQ$_SHARD_MAP', 'TABLE'),
 ('SYS', 'WRI$_ADV_DEF_EXEC_TYPES', 'TABLE'),
 ('SYS', 'WRI$_ADV_DIRECTIVE_INSTANCES', 'TABLE'),
 ('SYS', 'WRI$_ADV_ADDM_INST', 'TABLE'),
 ('SYS', 'SCHEDULER$_SRCQ_MAP', 'TABLE'),
 ('SYS', 'SCHEDULER$_JOB_OUTPUT', 'TABLE'),
 ('SYS', 'SCHEDULER$_SCHEDULE', 'TABLE'),
 ('SYS', 'SCHEDULER$_REMOTE_DBS', 'TABLE'),
 ('SYS', 'KU$NOEXP_TAB', 'TABLE'),
 ('SYS', 'WRI$_DBU_HWM_METADATA', 'TABLE'),
 ('SYS', 'WRI$_TRACING_ENABLED', 'TABLE'),
 ('SYS', 'WRI$_INDEX_USAGE', 'TABLE'),
 ('SYS', 'UMF$_LINK', 'TABLE'),
 ('SYS', 'SQLOBJ$AUXDATA_DATAPUMP_TBL', 'TABLE'),
 ('SYS', 'WRR$_REPLAY_DIVERGENCE', 'TABLE'),
 ('SYS', 'WRR$_USER_MAP', 'TABLE'),
 ('SYS', 'WRR$_SCHEDULE_ORDERING', 'TABLE'),
 ('SYS', 'WRR$_REPLAY_LOGIN_QUEUE', 'TABLE'),
 ('SYS', 'WRR$_CAPTURE_FILE_DETAILS', 'TABLE'),
 ('SYS', 'WRR$_WORKLOAD_SESSIONS', 'TABLE'),
 ('SYS', 'WRR$_REPLAY_SQL_MAP', 'TABLE'),
 ('SYS', 'WI$_TEMPLATE', 'TABLE'),
 ('SYSTEM', 'LOGMNR_DICTSTATE$', 'TABLE'),
 ('SYSTEM', 'LOGMNRC_GTLO', 'TABLE'),
 ('SYSTEM', 'LOGMNRC_TSPART', 'TABLE'),
 ('SYSTEM', 'LOGMNR_SEED$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_TYPE$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_CCOL$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_NTAB$', 'TABLE'),
 ('SYSTEM', 'LOGMNR_KOPM$', 'TABLE'),
 ('SYS', 'DBFS_SFS$_FSTP', 'TABLE'),
 ('SYS', 'XS$TENANT', 'TABLE'),
 ('SYS', 'XS$SECCLS_H', 'TABLE'),
 ('SYS', 'XS$INSTSET_LIST', 'TABLE'),
 ('SYS', 'XS$INSTSET_INH', 'TABLE'),
 ('SYS', 'XS$INSTSET_INH_KEY', 'TABLE'),
 ('SYS', 'XS$NSTMPL', 'TABLE'),
 ('SYS', 'XS$CACHE_ACTIONS', 'TABLE'),
 ('SYS', 'CAPTURED_PRIV$', 'TABLE'),
 ('SYS', 'WRR$_MASKING_BIND_CACHE', 'TABLE'),
 ('SYS', 'MVREF$_STATS_PARAMS', 'TABLE'),
 ('SYS', 'SYSDBIMFSSEG$', 'TABLE'),
 ('SYS', 'WRH$_FILESTATXS_BL', 'TABLE'),
 ('SYS', 'WRH$_IOSTAT_DETAIL', 'TABLE'),
 ('SYS', 'WRH$_CON_SYSTEM_EVENT_BL', 'TABLE'),
 ('SYS', 'WRH$_LATCH', 'TABLE'),
 ('SYS', 'WRH$_LATCH_PARENT', 'TABLE'),
 ('SYS', 'WRH$_MUTEX_SLEEP', 'TABLE'),
 ('SYS', 'WRH$_LIBRARYCACHE', 'TABLE'),
 ('SYS', 'WRH$_SYS_TIME_MODEL', 'TABLE'),
 ('SYS', 'WRH$_TOPLEVELCALL_NAME', 'TABLE'),
 ('SYS', 'WRH$_SYSMETRIC_SUMMARY', 'TABLE'),
 ('SYS', 'WRH$_CON_SYSMETRIC_SUMMARY', 'TABLE'),
 ('SYS', 'WRH$_SESSMETRIC_HISTORY', 'TABLE'),
 ('SYS', 'WRH$_FILEMETRIC_HISTORY', 'TABLE'),
 ('SYS', 'WRH$_CR_BLOCK_SERVER', 'TABLE'),
 ('SYS', 'WRH$_TABLESPACE_STAT_BL', 'TABLE'),
 ('SYS', 'WRH$_MTTR_TARGET_ADVICE', 'TABLE'),
 ('SYS', 'WRH$_STREAMS_CAPTURE', 'TABLE'),
 ('SYS', 'WRH$_BUFFERED_QUEUES', 'TABLE'),

`fetchall` returns the query results in a list, each row represented by a tuple, with one element by each column queried. It is important to notice that once we have requested the results from the query, execution `fetchall` once more will produce not results:

In [7]:
cur.fetchall()

[]

So, to get again the results one needs to run `cur.execute` again, followed by the `cur.fetchall` call.

We have not stored the results in any local variable yet. Let's do that. But since we want to start using pandas, we will store the results in a pandas Dataframe, which is one of the two data structures provided by `pandas`:

![img](img/pandas-02.png)

(see [pandas data structures](http://pandas.pydata.org/pandas-docs/stable/overview.html#data-structures) and [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/index.html) in general for a full description of a Dataframe).

How do we create a dataframe to store the queries' results?

In [8]:
# execute query again
cur.execute(sql_all_tables)
# fetch the results and use them to create the dataframe
all_tables_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

Creating a pandas DataFrame is done by calling `pd.Dataframes`. A dataframe can be created with multiple kinds of iterables (lists, tuples, sets, numpy arrays, etc.): in this case we are using the list of tuples that is returned by `cur.fetchall`. The second named argument, `columns=[some_list]`, is used to set the names for the columns of the Dataframe. T

In this case the names of the columns were created using the [list comprehension](https://docs.python.org/2/tutorial/datastructures.html#list-comprehensions) `[rec[0] for rec in cur.description]`. It is left as an exercise workout what exactly is going on here, but **this is a method that you can use every time you create a dataframe from a cx_oracle query**.

### First `pandas`'s inspection methods

#### `.info()`

Returns the number of entries of a dataframe, the number of columns, their names, how many non-null entries they have, and their variable types. Last, the memory usage of the tables is also returned

In [9]:
all_tables_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2776 entries, 0 to 2775
Data columns (total 3 columns):
OWNER          2776 non-null object
OBJECT_NAME    2776 non-null object
OBJECT_TYPE    2776 non-null object
dtypes: object(3)
memory usage: 65.1+ KB

**Hint** The best way to understand new methods or functions in python, is by accessing their documentation (if they are available). There is a very useful notebook magic that allows one to quickly access the help. Try running the next statement in a code cell:

```
?all_tables_df.info
```

(there is also a keyboard shortcut (double pressing `shift-Tab`) to do the same magic without using a `?`)

#### `.head()` and `.tail()`

Return the first rows (`head`) or the last rows (`tail`) of a dataframe. By default 5 rows are returned, but you can optionally give the number of rows to return (e.g., `.head(10)`)

In [10]:
all_tables_df.head()

  OWNER OBJECT_NAME OBJECT_TYPE
0   SYS       CCOL$       TABLE
1   SYS  BOOTSTRAP$       TABLE
2   SYS        UET$       TABLE
3   SYS    HISTGRM$       TABLE
4   SYS  HIST_HEAD$       TABLE

In [11]:
all_tables_df.tail(10)

                OWNER                   OBJECT_NAME OBJECT_TYPE
2766              TMC                       LODELAY       TABLE
2767        DASHBOARD          DASHBOARD_CORRELATOR       TABLE
2768  SOURCECATALOGUE           MEASUREMENT_HISTORY       TABLE
2769              TMC               ASSEMBLYSTARTUP       TABLE
2770              TMC                   BASEELEMENT       TABLE
2771              TMC               TT_05_AR_PARAMS       TABLE
2772              SYS        KUPC$DATAPUMP_QUETAB_2       TABLE
2773         OGGADMIN       AQ$_OGG$Q_TAB_EALMABB_L       TABLE
2774              SYS  AQ$_KUPC$DATAPUMP_QUETAB_2_P       TABLE
2775              SYS            AQ_SRVNTFN_TABLE_1       TABLE

#### `.describe()`

From the `docstring`:

> Generates descriptive statistics that summarize the central tendency,
dispersion and shape of a dataset's distribution, excluding
``NaN`` values.
> 
> Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided.

In [12]:
all_tables_df.describe()

       OWNER         OBJECT_NAME OBJECT_TYPE
count   2776                2776        2776
unique    28                2744           1
top      SYS  DBMAINTAIN_SCRIPTS       TABLE
freq    1538                   8        2776

#### Accessing/selecting columns and rows

In [13]:
# Accessing a column:
all_tables_df.OBJECT_NAME

0                                CCOL$
1                           BOOTSTRAP$
2                                 UET$
3                             HISTGRM$
4                           HIST_HEAD$
5                        DEFERRED_STG$
6                          DEPENDENCY$
7                                 SEQ$
8                                 LOB$
9                             EDITION$
10                            ICOLDEP$
11                          CONTAINER$
12                           CDB_FILE$
13                           VIEW_PDB$
14                FED$STATEMENT$ERRORS
15                      FED$APP$STATUS
16                      FED$DEPENDENCY
17                       TRIGGERJAVAF$
18                      TRANSIENT_IOT$
19                            CLSTKEY$
20                           CLSTJOIN$
21                      SQLOBJ$AUXDATA
22                            IDL_UB1$
23                            IDL_UB2$
24            RESOURCE_PLAN_DIRECTIVE$
25                        EXP_SERVICE$
26              DIR$SERVICE_OPERATIONS
27                   DIR$VICTIM_POLICY
28                 DIR$NODE_ATTRIBUTES
29                              AUDIT$
                     ...
2746             XML_AXISNAME_ENTITIES
2747    XML_CALQUERYPARAMETER_ENTITIES
2748            XML_FEEDTABLE_ENTITIES
2749           XML_WEIGHTTYPE_ENTITIES
2750         XML_CALFLUXTABLE_ENTITIES
2751           XML_SCALETABLE_ENTITIES
2752    XML_QLATMOSPHERESUMMA_ENTITIES
2753                           IFDELAY
2754              DASHBOARD_EVENT_PAIR
2755                    DR$TITLE_IDX$N
2756                 ANTENNAEFFICIENCY
2757                               PAD
2758                 TT_05_CACHE_STATS
2759                    SCHEMA_VERSION
2760                     ACACORRDELAYS
2761               ALARMCATEGORYFAMILY
2762              NGAS_SUBSCR_BACK_LOG
2763          AQ$_QT$_OGG$RNALMAAB_5_T
2764          AQ$_QT$_OGG$RNALMAAB_5_G
2765                            TABINS
2766                           LODELAY
2767              DASHBOARD_CORRELATOR
2768               MEASUREMENT_HISTORY
2769                   ASSEMBLYSTARTUP
2770                       BASEELEMENT
2771                   TT_05_AR_PARAMS
2772            KUPC$DATAPUMP_QUETAB_2
2773           AQ$_OGG$Q_TAB_EALMABB_L
2774      AQ$_KUPC$DATAPUMP_QUETAB_2_P
2775                AQ_SRVNTFN_TABLE_1
Name: OBJECT_NAME, Length: 2776, dtype: object

In [14]:
# It is the same as:
all_tables_df.loc[:, 'OBJECT_NAME']

0                                CCOL$
1                           BOOTSTRAP$
2                                 UET$
3                             HISTGRM$
4                           HIST_HEAD$
5                        DEFERRED_STG$
6                          DEPENDENCY$
7                                 SEQ$
8                                 LOB$
9                             EDITION$
10                            ICOLDEP$
11                          CONTAINER$
12                           CDB_FILE$
13                           VIEW_PDB$
14                FED$STATEMENT$ERRORS
15                      FED$APP$STATUS
16                      FED$DEPENDENCY
17                       TRIGGERJAVAF$
18                      TRANSIENT_IOT$
19                            CLSTKEY$
20                           CLSTJOIN$
21                      SQLOBJ$AUXDATA
22                            IDL_UB1$
23                            IDL_UB2$
24            RESOURCE_PLAN_DIRECTIVE$
25                        EXP_SERVICE$
26              DIR$SERVICE_OPERATIONS
27                   DIR$VICTIM_POLICY
28                 DIR$NODE_ATTRIBUTES
29                              AUDIT$
                     ...
2746             XML_AXISNAME_ENTITIES
2747    XML_CALQUERYPARAMETER_ENTITIES
2748            XML_FEEDTABLE_ENTITIES
2749           XML_WEIGHTTYPE_ENTITIES
2750         XML_CALFLUXTABLE_ENTITIES
2751           XML_SCALETABLE_ENTITIES
2752    XML_QLATMOSPHERESUMMA_ENTITIES
2753                           IFDELAY
2754              DASHBOARD_EVENT_PAIR
2755                    DR$TITLE_IDX$N
2756                 ANTENNAEFFICIENCY
2757                               PAD
2758                 TT_05_CACHE_STATS
2759                    SCHEMA_VERSION
2760                     ACACORRDELAYS
2761               ALARMCATEGORYFAMILY
2762              NGAS_SUBSCR_BACK_LOG
2763          AQ$_QT$_OGG$RNALMAAB_5_T
2764          AQ$_QT$_OGG$RNALMAAB_5_G
2765                            TABINS
2766                           LODELAY
2767              DASHBOARD_CORRELATOR
2768               MEASUREMENT_HISTORY
2769                   ASSEMBLYSTARTUP
2770                       BASEELEMENT
2771                   TT_05_AR_PARAMS
2772            KUPC$DATAPUMP_QUETAB_2
2773           AQ$_OGG$Q_TAB_EALMABB_L
2774      AQ$_KUPC$DATAPUMP_QUETAB_2_P
2775                AQ_SRVNTFN_TABLE_1
Name: OBJECT_NAME, Length: 2776, dtype: object

In [15]:
# Or it could be access by the position of the column (as usual starting from 0)
all_tables_df.iloc[:, 1]

0                                CCOL$
1                           BOOTSTRAP$
2                                 UET$
3                             HISTGRM$
4                           HIST_HEAD$
5                        DEFERRED_STG$
6                          DEPENDENCY$
7                                 SEQ$
8                                 LOB$
9                             EDITION$
10                            ICOLDEP$
11                          CONTAINER$
12                           CDB_FILE$
13                           VIEW_PDB$
14                FED$STATEMENT$ERRORS
15                      FED$APP$STATUS
16                      FED$DEPENDENCY
17                       TRIGGERJAVAF$
18                      TRANSIENT_IOT$
19                            CLSTKEY$
20                           CLSTJOIN$
21                      SQLOBJ$AUXDATA
22                            IDL_UB1$
23                            IDL_UB2$
24            RESOURCE_PLAN_DIRECTIVE$
25                        EXP_SERVICE$
26              DIR$SERVICE_OPERATIONS
27                   DIR$VICTIM_POLICY
28                 DIR$NODE_ATTRIBUTES
29                              AUDIT$
                     ...
2746             XML_AXISNAME_ENTITIES
2747    XML_CALQUERYPARAMETER_ENTITIES
2748            XML_FEEDTABLE_ENTITIES
2749           XML_WEIGHTTYPE_ENTITIES
2750         XML_CALFLUXTABLE_ENTITIES
2751           XML_SCALETABLE_ENTITIES
2752    XML_QLATMOSPHERESUMMA_ENTITIES
2753                           IFDELAY
2754              DASHBOARD_EVENT_PAIR
2755                    DR$TITLE_IDX$N
2756                 ANTENNAEFFICIENCY
2757                               PAD
2758                 TT_05_CACHE_STATS
2759                    SCHEMA_VERSION
2760                     ACACORRDELAYS
2761               ALARMCATEGORYFAMILY
2762              NGAS_SUBSCR_BACK_LOG
2763          AQ$_QT$_OGG$RNALMAAB_5_T
2764          AQ$_QT$_OGG$RNALMAAB_5_G
2765                            TABINS
2766                           LODELAY
2767              DASHBOARD_CORRELATOR
2768               MEASUREMENT_HISTORY
2769                   ASSEMBLYSTARTUP
2770                       BASEELEMENT
2771                   TT_05_AR_PARAMS
2772            KUPC$DATAPUMP_QUETAB_2
2773           AQ$_OGG$Q_TAB_EALMABB_L
2774      AQ$_KUPC$DATAPUMP_QUETAB_2_P
2775                AQ_SRVNTFN_TABLE_1
Name: OBJECT_NAME, Length: 2776, dtype: object

In [16]:
# To access a particular row, we can use the index name:
all_tables_df.loc[0]

OWNER            SYS
OBJECT_NAME    CCOL$
OBJECT_TYPE    TABLE
Name: 0, dtype: object

In [17]:
# To access a particular row, we use the index position:
all_tables_df.iloc[0]

OWNER            SYS
OBJECT_NAME    CCOL$
OBJECT_TYPE    TABLE
Name: 0, dtype: object

In [18]:
# In this previous case the positional index is the same as the name of the index
# To see the difference, let's create a new dataframe with just the last 5 rows:
df = all_tables_df.tail()

In [19]:
# Access the first row by positional index:
df.iloc[0]

OWNER                      TMC
OBJECT_NAME    TT_05_AR_PARAMS
OBJECT_TYPE              TABLE
Name: 2771, dtype: object

In [20]:
# The index name of the previous row can be recovered with:
index_name = df.iloc[0].name
print(index_name)

2771

In [21]:
# And so, it can be used with .loc to get the index by its name:
df.loc[index_name]

OWNER                      TMC
OBJECT_NAME    TT_05_AR_PARAMS
OBJECT_TYPE              TABLE
Name: 2771, dtype: object

In [22]:
# The same notation that can be used to select a subset of rows,columns with 
# lists or arrays can be used with .iloc:
all_tables_df.iloc[2:4, 1:]

  OBJECT_NAME OBJECT_TYPE
2        UET$       TABLE
3    HISTGRM$       TABLE

In [23]:
# With .loc, you can select multiple rows and columns by using lists
all_tables_df.loc[[2, 3, 4, 10, 2000], ['OBJECT_NAME', 'OBJECT_TYPE']]

      OBJECT_NAME OBJECT_TYPE
2            UET$       TABLE
3        HISTGRM$       TABLE
4      HIST_HEAD$       TABLE
10       ICOLDEP$       TABLE
2000  DR$STOPLIST       TABLE

#### Pandas columns/rows as Series

You might have noticed in the first two examples, when we selected or accessed one column at a time or later when we retrieved only one row, that the output looks different that a dataframe: this is because those access methods are returning a pandas Series. This is important, because Series also have some very useful methods:

In [24]:
# Let's say you want to get the distinct count of unique entries in the OWNERS
# table:

all_tables_df.OWNER.nunique()

28

In [25]:
# Or count all the entries (not including nulls or empty) in OBJECT_TYPE:
all_tables_df.OBJECT_TYPE.count()

2776

Because `all_tables_df` has only columns with strings, we can't make an example of other methods to do quick statistics, like `.min`, `.max`, `.mean`, `.median`, etc. We will use them later in other exercises.

### Going Back to the `all_tables_df`

What we did with the SQL query stored in the variable `sql_all_tables` was to inspect all the available tables in the archive. We requested an entry for each table (OBJECT_NAME) from all accessible OWNERS. An OWNER can be seen as an *schema* in database language: a group of tables that belong to a particular user, storing information that have some kind of relevance for this user or group of users.

To get an overview of all the available schemas to us, we can execute the method `unique` over the column (series) `OWNER`:

In [26]:
all_tables_df.OWNER.unique()

array(['SYS', 'SYSTEM', 'DBSFWUSER', 'AUDSYS', 'DBSNMP', 'APPQOSSYS',
       'GSMADMIN_INTERNAL', 'XDB', 'WMSYS', 'CTXSYS', 'ORDDATA', 'MDSYS',
       'LBACSYS', 'DVSYS', 'SPT', 'OGGADMIN', 'ALMA', 'SOURCECATALOGUE',
       'TMC', 'NGAS', 'DASHBOARD', 'NGASGG', 'REQUEST', 'OJVMSYS',
       'OUTLN', 'ORDSYS', 'OLAPSYS', 'TUSER'], dtype=object)

The Schemas (or OWNERS) with useful information to us are:

1. ALMA
2. TMC
3. DASHBOARD
4. SOURCECATALOGUE
5. SPT

How many tables have, for example, the ALMA schema? Let us use the method `query` along with `nunique`. The [query](http://pandas.pydata.org/pandas-docs/stable/indexing.html?highlight=query#the-query-method-experimental) method, while powerful, has some limitations, but it is one of the most used and useful methods when doing data inspections.

In [27]:
all_tables_df.query('OWNER == "ALMA"').OBJECT_NAME.nunique()

328

Around 300 tables are contained within the ALMA schema! Inspecting them with pandas, within the jupyter notebook, might be unpractical. One option is to store the dataframe in an Excel file using the method `.to_excel()`. Also, a tool called [sqldeveloper](http://www.oracle.com/technetwork/developer-tools/sql-developer/downloads/index.html), available for linux, windows and OSX, could be used.

But, since we are showing off here the multiple tools available for jupyter notebooks, let's try the [qgrid](https://qgrid.readthedocs.io/en/latest/) library, which takes advantage of the widget rendering facilities available. The `datascience3` environment we setup has already this library included.

In [28]:
# Import qgrid library and set some options for optimal display of tables with
# big number of columns. Also, do not allow the widget to edit the values of a
# dataframe
import qgrid
qgrid.set_grid_option('forceFitColumns', False)
qgrid.set_grid_option('editable', False)

In [29]:
# Create the grid widget
qw = qgrid.show_grid(all_tables_df, show_toolbar=True)

In [30]:
# Display
qw

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

The execution of the previous cell should have shown you something like:
![img](img/CaptureQgrid.PNG)

Clicking on the header cells will sort the table by either ascending or descending order. One can also filter the dataframe by clicking on the "filter" icon: in this way you could inspect quickly all the ALMA tables:

![img](img/CaptureQgrid2.PNG)

### Querying more detailed information for the available tables

**From now on, we will give less detailed information for each step. An important part of the training is to learn how to gather information from the available sources** (see first section for reading and links).

We will perform now a a query that will return the columns information for all the tables from the ALMA Schema. Again, we will keep using `qgrid` to make the inspection easier

In [31]:
sql_inspect_alma_tables = """
SELECT TABLE_NAME, COLUMN_NAME, COLUMN_ID, DATA_TYPE, DATA_LENGTH
    FROM DBA_TAB_COLUMNS
    WHERE OWNER = 'ALMA'
    ORDER BY TABLE_NAME
"""

In [32]:
cur.execute(sql_inspect_alma_tables)
alma_tables_info = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

In [33]:
qw_alma_tables = qgrid.show_grid(
    alma_tables_info.sort_values(by=['TABLE_NAME', 'COLUMN_ID']))
qw_alma_tables

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

First, notice how a new pandas method (`.sort_values`) was introduced, which help us to display the information in a more organized way. Using the filter option in the Table name, you can inspect all of the circa 300 tables available within the ALMA Schema.

## Shiftlog Database

We will show here how the shiftlog data is stored in the archive. There are 12 tables that are populated by the Shiftlog subsystem in the ALMA Schema, of which 4 will be relevant for our work:

1. ALMA.SHIFTLOG_ENTRIES
2. ALMA.SLOG_ENTRY_ATTR
3. ALMA.SLOG_ALLOCATED_TIME_INTERVAL
4. ALMA.SHIFTLOG_REPLY

For our exercise, let's query a subsample from these tables, with all the data since January 1st, 2018:

In [34]:
# Define our SQL queries:

sql_shiftlog_entries = """
    SELECT * 
      FROM ALMA.SHIFTLOG_ENTRIES 
     WHERE SE_TIMESTAMP > TO_TIMESTAMP(:datestart, 'YYYY-MM-DD HH24:MI:SS')
"""

sql_slog_allocated = """
    SELECT *
      FROM ALMA.SLOG_ALLOCATED_TIME_INTERVAL
     WHERE STARTTIME > TO_TIMESTAMP(:datestart, 'YYYY-MM-DD HH24:MI:SS')
"""

# The following two queries are one step more advanced, because we query
# the data based in a restriction comming from another table. More in the next
# live tutorial session.

sql_slog_entry_attr = """
    SELECT sea.* 
      FROM ALMA.SHIFTLOG_ENTRIES sa, ALMA.SLOG_ENTRY_ATTR sea
     WHERE sa.SE_TIMESTAMP > TO_TIMESTAMP(:datestart, 'YYYY-MM-DD HH24:MI:SS')
      AND sa.SE_ID = sea.SLOG_SE_ID
"""

sql_shiftlog_reply = """
    SELECT sr.* 
      FROM ALMA.SHIFTLOG_ENTRIES se, ALMA.SHIFTLOG_REPLY sr
     WHERE se.SE_TIMESTAMP > TO_TIMESTAMP(:datestart, 'YYYY-MM-DD HH24:MI:SS')
      AND se.SE_ID = sr.ENTRY_ID
"""

You might have noticed in the previous queries the use of *binding variables*, which are the variables that begin with a colon, in this case `:datestart`. When we do this, we make our queries more efficient, but the technical reasons are beyond the scope of this notebook (and from the knowledge of the author, so we might invite an APO member to give us more background if needed). 

The binding variables are used with the method `.excute`, and here are the examples:

In [35]:
# Create shiftlog_entries_df dataframe for the data 
# from ALMA.SHIFTLOG_ENTRIES
cur.execute(sql_shiftlog_entries, datestart='2018-01-01 00:00:00')
shiftlog_entries_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

# Create allocated_time_df dataframe for ALMA.SLOG_ALLOCATED_TIME_INTERVAL
# data
cur.execute(sql_slog_allocated, datestart='2018-01-01 00:00:00')
allocated_time_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

# Create the entries_attributes_df dataframe for ALMA.SLOG_ENTRY_ATTR
cur.execute(sql_slog_entry_attr, datestart='2018-01-01 00:00:00')
entries_attributes_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

# Create the shiftlog_comments_df dataframe for ALMA.SHIFTLOG_REPLY
cur.execute(sql_shiftlog_reply, datestart='2018-01-01 00:00:00')
shiftlog_comments_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

### Shiftlog Main Table: `SHIFTLOG_ENTRIES`

We stored the data from this table into the `shiftlog_entries_df` dataframe. To inspect it, let's start by looking at the first 5 rows:

In [36]:
shiftlog_entries_df.head()

,SE_ID,SE_TYPE,SE_SUBJECT,SE_TIMESTAMP,SE_AUTHOR,SE_START,SE_PROJECT_CODE,SE_SB_CODE,SE_SB_ID,SE_EB_UID,...,SE_OBSPROJECTPI,SE_OBSPROJECTVERSION,SE_ACSVERSION,SE_SHIFTACTIVITY,SE_DASHBOARDANTENNASAVAILABLE,SE_DASHBOARDANTENNASDELIVERED,SE_DASHBOARDANTENNASPRESENT,SE_PWV,SE_REPRFREQUENCY,SE_TEST
0,1407592,2,StandardSingleDish.py useScanSequence=1 Sessio...,2018-03-18 12:33:44.485,system,2018-03-18 10:59:03.560,2017.1.01355.L,W43-MM3_a_03_TP,uid://A001/X1296/Xa9,uid://A002/Xca795f/X4bab,...,motte,5,None,None,None,None,None,NaN,93.14326,0
1,1407619,9,steDailySetup -- ONLINE-CYCLE5-B-123-2018-01-2...,2018-03-18 11:34:04.000,almaop,2018-03-18 11:33:24.000,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,None
2,1407621,2,FocusCalObservation.py pointFocusBand=3,2018-03-18 11:45:01.685,system,2018-03-18 11:35:55.195,0000.0.00271.CSV,Focus Band 3 Z,uid://A002/X95de6f/X30,uid://A002/Xca795f/X4eed,...,nphillip,0,None,None,None,None,None,NaN,103.00000,0
3,1407906,5,None,2018-03-19 03:49:58.138,system,NaT,None,None,None,None,...,None,None,None,None,None,None,None,6.621287,NaN,None
4,1407907,5,None,2018-03-19 03:53:27.862,system,NaT,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,None

If we try to check all the columns, you will notice that not all them are shown: `pandas` by default limits the number of columns displayed to {{ pd.options.display.max_columns }}. We can change that with the following code:

In [37]:
pd.options.display.max_columns = 200

And now, when displaying the first 5 rows, all columns should be displayed when one moves with the scroller at the bottom:

In [38]:
shiftlog_entries_df.head()

,SE_ID,SE_TYPE,SE_SUBJECT,SE_TIMESTAMP,SE_AUTHOR,SE_START,SE_PROJECT_CODE,SE_SB_CODE,SE_SB_ID,SE_EB_UID,SE_LOCATION,SE_STATUS,SE_CALIBRATION,SE_QA0FLAG,SE_ARCHIVING_STATUS,SE_TEST_ACTIVITY,SE_ISPOWERCUT,SE_PCRECOVERYEND,SE_PCRECOVERYSTART,SE_WRECOVERYEND12M,SE_WRECOVERYEND7M,SE_WRECOVERYENDTP,SE_WRECOVERYSTART12M,SE_WRECOVERYSTART7M,SE_WRECOVERYSTARTTP,SE_ARRAYENTRY_ID,SE_ARRAYNAME,SE_ARRAYTYPE,SE_ARRAYFAMILY,SE_CORRELATORTYPE,SE_PHOTONICREFERENCENAME,SE_ALMABUILD,SE_DOWNTIMETYPE,SE_MAINACTIVITY,SE_MAINANTENNANAME,SE_MAINRESPONSIBLE,SE_BANDNAME,SE_EXECUTIVE,SE_OBSPROJECTNAME,SE_OBSPROJECTPI,SE_OBSPROJECTVERSION,SE_ACSVERSION,SE_SHIFTACTIVITY,SE_DASHBOARDANTENNASAVAILABLE,SE_DASHBOARDANTENNASDELIVERED,SE_DASHBOARDANTENNASPRESENT,SE_PWV,SE_REPRFREQUENCY,SE_TEST
0,1407592,2,StandardSingleDish.py useScanSequence=1 Sessio...,2018-03-18 12:33:44.485,system,2018-03-18 10:59:03.560,2017.1.01355.L,W43-MM3_a_03_TP,uid://A001/X1296/Xa9,uid://A002/Xca795f/X4bab,OSF-APE2,SUCCESS,0,Pass,Complete,None,None,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1407422.0,Array008,None,None,None,None,ONLINE-CYCLE5-B-123-2018-01-23-29-00-00,None,None,None,None,ALMA_RB_03,CL EA EU NA,ALMA-IMF: ALMA transforms our view of the orig...,motte,5,None,None,None,None,None,NaN,93.14326,0
1,1407619,9,steDailySetup -- ONLINE-CYCLE5-B-123-2018-01-2...,2018-03-18 11:34:04.000,almaop,2018-03-18 11:33:24.000,None,None,None,None,OSF-APE2,None,None,None,None,None,None,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,1407621,2,FocusCalObservation.py pointFocusBand=3,2018-03-18 11:45:01.685,system,2018-03-18 11:35:55.195,0000.0.00271.CSV,Focus Band 3 Z,uid://A002/X95de6f/X30,uid://A002/Xca795f/X4eed,OSF-APE2,SUCCESS,1,None,Complete,None,None,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,1407620.0,Array020,None,None,None,None,ONLINE-CYCLE5-B-123-2018-01-23-29-00-00,None,None,None,None,ALMA_RB_03,CL,Focus SBs,nphillip,0,None,None,None,None,None,NaN,103.00000,0
3,1407906,5,None,2018-03-19 03:49:58.138,system,NaT,None,None,None,None,OSF-APE2,None,None,None,None,None,None,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,6.621287,NaN,None
4,1407907,5,None,2018-03-19 03:53:27.862,system,NaT,None,None,None,None,OSF-APE1,None,None,None,None,None,None,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

Again, we could use the `.info()` method to get a better overview of columns and their metadata:

In [39]:
shiftlog_entries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38525 entries, 0 to 38524
Data columns (total 49 columns):
SE_ID                            38525 non-null int64
SE_TYPE                          38525 non-null int64
SE_SUBJECT                       17106 non-null object
SE_TIMESTAMP                     38525 non-null datetime64[ns]
SE_AUTHOR                        38525 non-null object
SE_START                         20852 non-null datetime64[ns]
SE_PROJECT_CODE                  10546 non-null object
SE_SB_CODE                       10546 non-null object
SE_SB_ID                         10546 non-null object
SE_EB_UID                        10544 non-null object
SE_LOCATION                      38502 non-null object
SE_STATUS                        10546 non-null object
SE_CALIBRATION                   10553 non-null object
SE_QA0FLAG                       3532 non-null object
SE_ARCHIVING_STATUS              10455 non-null object
SE_TEST_ACTIVITY                 0 non-null object
SE_ISPOWERCUT                    446 non-null object
SE_PCRECOVERYEND                 368 non-null datetime64[ns]
SE_PCRECOVERYSTART               368 non-null datetime64[ns]
SE_WRECOVERYEND12M               42 non-null datetime64[ns]
SE_WRECOVERYEND7M                49 non-null datetime64[ns]
SE_WRECOVERYENDTP                47 non-null datetime64[ns]
SE_WRECOVERYSTART12M             42 non-null datetime64[ns]
SE_WRECOVERYSTART7M              47 non-null datetime64[ns]
SE_WRECOVERYSTARTTP              46 non-null datetime64[ns]
SE_ARRAYENTRY_ID                 10410 non-null float64
SE_ARRAYNAME                     13534 non-null object
SE_ARRAYTYPE                     2989 non-null object
SE_ARRAYFAMILY                   2184 non-null object
SE_CORRELATORTYPE                2571 non-null object
SE_PHOTONICREFERENCENAME         2558 non-null object
SE_ALMABUILD                     10724 non-null object
SE_DOWNTIMETYPE                  446 non-null object
SE_MAINACTIVITY                  2989 non-null object
SE_MAINANTENNANAME               0 non-null object
SE_MAINRESPONSIBLE               0 non-null object
SE_BANDNAME                      6223 non-null object
SE_EXECUTIVE                     6798 non-null object
SE_OBSPROJECTNAME                10546 non-null object
SE_OBSPROJECTPI                  10546 non-null object
SE_OBSPROJECTVERSION             10546 non-null object
SE_ACSVERSION                    178 non-null object
SE_SHIFTACTIVITY                 179 non-null object
SE_DASHBOARDANTENNASAVAILABLE    0 non-null object
SE_DASHBOARDANTENNASDELIVERED    0 non-null object
SE_DASHBOARDANTENNASPRESENT      0 non-null object
SE_PWV                           8861 non-null float64
SE_REPRFREQUENCY                 7502 non-null float64
SE_TEST                          10553 non-null object
dtypes: datetime64[ns](10), float64(3), int64(2), object(34)
memory usage: 14.4+ MB

OK, what is the structure of the data within the shiftlog_entries table? It is a kind of awkward structure. I assume that we are all familiar with the basic look of the Shiftlog StandAlone GUI:

<img src="img/Selection_011.png" width=600>

So, the shiflog tool helps to visually inspect the entries that match some criteria that can be provided through the Query Parameters interface in the bottom right box. This tell us that we have 11 different types or categories for the entries, and from the wiki we find that the categories are:

* *Shift entry (SHIFT):* should be created every time a shift starts.
* *Manual mode execution entries* *(MMEX):* These are created automatically every time a script is executed on a manual array.
* *Scheduling block execution entries (SBEX):* whenever a SB is executed on an interactive array, a SBEX entry is created with all info about the project.
* *Antenna entries (ANTEN):* automatically created every time the "antenna" button (top-right) is pressed (and at the beginning of every shift) to store information about the currently configured antennas on the system.
* *Weather entries (WEATH):* automatically created every 15 min. or every time the "weather" button (top right) is pressed.
* *Array entries (ARRAY):* automatically created to store information about the arrays that are created in the system.
* *Downtime entries (DOWN):* for including manually information on downtime due to technical problems or bad weather (icon at top-left).
* *General entries (ENTRY):* this one should be used for manually created entries (icon at top-left).
* *Engineering entries (ENGIN)*: to take note of the main activities during the engineering time (icon at top-left).
* *Command line entries *(CMDLN):* for recording scripts that do not produce and asdm and that are related to control and operational processes during the observations (e.g. for !RadioSetup.py)
* *Array Operations Group entries(AOG):* for allowing operators to communicate information

Each kind of entry can be accessed by queries, once you know their type's ID (`SE_TYPE`) within the Database.

#### Shift Entries: SE_TYPE 1

The shift entries are of SE_TYPE = 1. We will use the dataframe methods to do a query (`.query`) and to remove the columns that are not relevant for each entry (`.dropna`)

In [40]:
shift_entries = shiftlog_entries_df.query('SE_TYPE == 1').dropna(axis=1, how='all').copy()

In [41]:
shift_entries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179 entries, 264 to 37555
Data columns (total 11 columns):
SE_ID               179 non-null int64
SE_TYPE             179 non-null int64
SE_SUBJECT          179 non-null object
SE_TIMESTAMP        179 non-null datetime64[ns]
SE_AUTHOR           179 non-null object
SE_START            179 non-null datetime64[ns]
SE_LOCATION         179 non-null object
SE_ALMABUILD        178 non-null object
SE_ACSVERSION       178 non-null object
SE_SHIFTACTIVITY    179 non-null object
SE_PWV              114 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 16.8+ KB

In [42]:
shift_entries.head()

,SE_ID,SE_TYPE,SE_SUBJECT,SE_TIMESTAMP,SE_AUTHOR,SE_START,SE_LOCATION,SE_ALMABUILD,SE_ACSVERSION,SE_SHIFTACTIVITY,SE_PWV
264,1415200,1,2018-04-03T12:00:29,2018-04-03 17:49:19.250,Patricio,2018-04-03 12:00:29.618,OSF-APE2,ONLINE-CYCLE5-B-140-2018-03-20-29-00-00,ACS-DEC2016.,SciOps,0.491705
404,1359434,1,2018-01-19T19:03:11,2018-01-20 17:30:00.329,almaop,2018-01-19 19:00:00.373,OSF-APE2,ONLINE-CYCLE5-B-112-2018-01-13-29-00-00,ACS-DEC2016.,SciOps,2.442885
544,1409485,1,2018-03-22T17:05:05 APE1 shift open to enable ...,2018-03-31 16:59:17.250,almaop,2018-03-22 17:05:05.473,OSF-APE1,ONLINE-2018JAN-B-53-2018-03-16-28-00-00,ACS-2017DEC.,Engineering,NaN
579,1408028,1,2018-03-19T12:37:53,2018-03-19 19:00:00.814,Patricio,2018-03-19 12:11:00.047,OSF-APE2,ONLINE-CYCLE5-B-123-2018-01-23-29-00-00,ACS-DEC2016.,Engineering,7.069074
683,1411916,1,2018-03-27T12:05:18,2018-03-28 16:00:11.491,almaop,2018-03-27 12:00:01.714,OSF-APE2,ONLINE-CYCLE5-B-140-2018-03-20-29-00-00,ACS-DEC2016.,SciOps,1.661450

The relevant columns, by their meaning:

* SE_ID: unique ID for a shiftlog entry
* SE_TYPE: type or category for an entry (in this case all 1 by construction)
* SE_SUBJECT: comment written by the system or operator when creating the shift
* SE_TIMESTAMP: end time for the shit entry. Is equal to SE_START when the shift is ongoing.
* SE_AUTHOR: user who created the entry
* SE_START: start time for the entry
* SE_LOCATION: STE originating the shiftlog entry
* SE_ALMABUILD: ALMA software version active **at the beginning of the shift** (if there is a change of software after the shift is started, this information won't be reflected here)
* SE_ACSVERSION: ACS version active at the beginning of the shift.
* SE_SHIFTACTIVITY: Main shift activity, can be any of {{shift_entries.SE_SHIFTACTIVITY.unique().tolist()}} (and maybe others)
* SE_PWV: PWV, not to be used as it doesn't have a clear meaning for a shift, and sometimes is even empty.

How long are the Shifts? Let's create a new column with the time elapsed, in hours, between the start of the shift (SE_START) and the end (SE_TIMESTAMP) (Shifts that are ongoing have the same time in both columns):

In [43]:
shift_entries['TimeElapsed'] = (shift_entries.SE_TIMESTAMP - shift_entries.SE_START).apply(
    lambda x: x.total_seconds() / 3600.)

**Note about the code in previous cell**: The output of `shift_entries.SE_TIMESTAMP - shift_entries.SE_START` is a pandas Series, and this is why we can use `.apply` to run a function over this output. In this case the Series contains a `pandas.Timedelta` data type, which has a method `total_seconds` available, that transforms the time delta into seconds. By dividing by 3600.0 we get back the hours. We will talk more about .apply in the live sessions.

Now, let's inspect the first 10 rows, and only display the most significant columns of our table, with the new result:

In [44]:
shift_entries.head(10)[['SE_ID', 'SE_LOCATION', 'SE_START', 'SE_TIMESTAMP','TimeElapsed', 'SE_SHIFTACTIVITY']]

,SE_ID,SE_LOCATION,SE_START,SE_TIMESTAMP,TimeElapsed,SE_SHIFTACTIVITY
264,1415200,OSF-APE2,2018-04-03 12:00:29.618,2018-04-03 17:49:19.250,5.813787,SciOps
404,1359434,OSF-APE2,2018-01-19 19:00:00.373,2018-01-20 17:30:00.329,22.499988,SciOps
544,1409485,OSF-APE1,2018-03-22 17:05:05.473,2018-03-31 16:59:17.250,215.903271,Engineering
579,1408028,OSF-APE2,2018-03-19 12:11:00.047,2018-03-19 19:00:00.814,6.816880,Engineering
683,1411916,OSF-APE2,2018-03-27 12:00:01.714,2018-03-28 16:00:11.491,28.002716,SciOps
913,1409482,OSF-APE2,2018-03-22 17:05:38.291,2018-03-22 22:36:22.153,5.512184,Engineering
1050,1413896,OSF-APE2,2018-03-31 22:00:01.203,2018-04-01 12:00:00.505,13.999806,SciOps
1072,1409549,OSF-APE2,2018-03-22 22:36:23.062,2018-03-23 12:24:17.025,13.798323,SciOps
1232,1412367,OSF-APE2,2018-03-28 16:00:01.216,2018-03-28 22:00:00.930,5.999921,Engineering
1618,1414176,OSF-APE2,2018-04-01 12:00:01.863,2018-04-02 12:30:00.560,24.499638,SciOps

We could now look, for example, for Shifts entries that might be wrong! And this is a good exercise when using data from any database: we should never assume the data is clean and ready to be ingested! For example, any shift lasting more than 32 hours might be a wrong entry, or any shift with negative time:

In [45]:
shift_entries.query('TimeElapsed > 32 or TimeElapsed < 0')[
    ['SE_ID', 'SE_LOCATION', 'SE_START', 'SE_TIMESTAMP','TimeElapsed', 'SE_SHIFTACTIVITY']]

,SE_ID,SE_LOCATION,SE_START,SE_TIMESTAMP,TimeElapsed,SE_SHIFTACTIVITY
544,1409485,OSF-APE1,2018-03-22 17:05:05.473,2018-03-31 16:59:17.250,215.903271,Engineering
4425,1413795,OSF-APE1,2018-03-31 16:59:20.730,2018-04-14 17:21:43.696,336.373046,Engineering
10857,1389974,OSF-APE2,2018-01-31 12:00:01.521,2018-03-05 12:00:00.966,791.999846,Engineering
20106,1424486,OSF-APE1,2018-04-25 17:20:55.183,2018-04-28 20:55:53.463,75.582856,Engineering

At the moment I run the query, 4 shifts are huge:

<img src="img/Selection_012.png">

A shift of 791 hundred hours, kind of make sense only in February (and this is the case!). The other cases are in the SE_LOCATION (ste) OSF-APE1, which is usually used for testing purposes, so we could just don't care about them.

Now we could ask for all the valid science Shifts since January, ordered by descending Start Time:

In [46]:
# Notice the format for the python code: this is being use a lot in data science
# when one is applying one pandas method over the result of another:

shift_entries.query(
    'SE_SHIFTACTIVITY == "SciOps"'
).sort_values(
    by='SE_START', ascending=False
)[
    ['SE_ID', 'SE_LOCATION', 'SE_START', 'SE_TIMESTAMP','TimeElapsed', 
     'SE_SHIFTACTIVITY']
]

,SE_ID,SE_LOCATION,SE_START,SE_TIMESTAMP,TimeElapsed,SE_SHIFTACTIVITY
12167,1432289,OSF-APE2,2018-05-14 20:00:01.503,2018-05-14 20:00:01.503,0.000000,SciOps
15206,1431950,OSF-APE2,2018-05-13 23:00:01.739,2018-05-14 12:52:27.356,13.873783,SciOps
9609,1431703,OSF-APE2,2018-05-13 13:00:01.878,2018-05-13 18:09:49.626,5.163263,SciOps
13178,1431535,OSF-APE2,2018-05-13 03:46:00.498,2018-05-13 13:00:00.329,9.233286,SciOps
13703,1431029,OSF-APE2,2018-05-12 01:02:49.540,2018-05-12 16:00:00.639,14.953083,SciOps
14193,1430419,OSF-APE2,2018-05-10 12:00:01.911,2018-05-11 12:03:31.216,24.058140,SciOps
10166,1430437,OSF-APE2,2018-05-10 03:35:19.695,2018-05-10 12:00:00.695,8.411389,SciOps
11663,1430043,OSF-APE2,2018-05-08 21:46:43.204,2018-05-09 16:13:38.971,18.448824,SciOps
13036,1429643,OSF-APE2,2018-05-08 12:02:19.254,2018-05-08 16:07:12.278,4.081396,SciOps
14086,1429322,OSF-APE2,2018-05-07 19:00:01.897,2018-05-08 12:02:16.271,17.037326,SciOps
12786,1428821,OSF-APE2,2018-05-06 12:44:55.124,2018-05-07 12:00:00.871,23.251596,SciOps
9657,1428481,OSF-APE2,2018-05-05 20:43:09.416,2018-05-06 12:00:00.745,15.280925,SciOps
13857,1428389,OSF-APE2,2018-05-05 16:18:34.236,2018-05-05 20:42:56.697,4.406239,SciOps
13785,1428068,OSF-APE2,2018-05-04 19:19:11.648,2018-05-05 16:18:30.483,20.988565,SciOps
12752,1427962,OSF-APE2,2018-05-04 12:16:01.675,2018-05-04 19:19:10.491,7.052449,SciOps
12680,1427582,OSF-APE2,2018-05-03 12:00:01.299,2018-05-04 12:16:00.251,24.266376,SciOps
12113,1427346,OSF-APE2,2018-05-02 21:24:01.536,2018-05-03 12:00:00.906,14.599825,SciOps
26879,1426854,OSF-APE2,2018-05-01 12:00:04.434,2018-05-02 16:43:38.290,28.726071,SciOps
17951,1426591,OSF-APE2,2018-04-30 19:00:01.982,2018-05-01 12:00:03.050,17.000297,SciOps
17103,1426078,OSF-APE2,2018-04-29 12:00:01.704,2018-04-30 12:00:00.437,23.999648,SciOps
19321,1425824,OSF-APE2,2018-04-28 21:00:01.590,2018-04-29 12:00:00.079,14.999580,SciOps
25900,1425278,OSF-APE2,2018-04-27 19:00:01.733,2018-04-28 16:00:00.403,20.999631,SciOps
25782,1424818,OSF-APE2,2018-04-26 12:00:15.639,2018-04-27 12:00:00.160,23.995700,SciOps
21430,1424579,OSF-APE2,2018-04-25 21:39:12.668,2018-04-26 12:00:10.376,14.349363,SciOps
15381,1424087,OSF-APE2,2018-04-24 12:00:01.401,2018-04-25 16:26:02.846,28.433735,SciOps
18704,1423839,OSF-APE2,2018-04-23 19:00:01.217,2018-04-24 12:00:00.857,16.999900,SciOps
19223,1423233,OSF-APE2,2018-04-22 12:00:01.273,2018-04-23 12:11:14.797,24.187090,SciOps
16887,1422980,OSF-APE2,2018-04-21 20:30:01.480,2018-04-22 12:00:00.671,15.499775,SciOps
25716,1422599,OSF-APE2,2018-04-20 19:35:49.059,2018-04-21 16:28:02.509,20.870403,SciOps
18259,1421979,OSF-APE2,2018-04-19 12:00:01.409,2018-04-20 12:04:26.908,24.073750,SciOps
...,...,...,...,...,...,...
10249,1382734,OSF-APE2,2018-01-28 12:00:01.673,2018-01-29 12:00:00.531,23.999683,SciOps
2616,1380856,OSF-APE2,2018-01-27 19:00:01.149,2018-01-28 12:00:00.425,16.999799,SciOps
2071,1377634,OSF-APE2,2018-01-26 20:00:01.990,2018-01-27 16:20:22.340,20.338986,SciOps
4958,1373176,OSF-APE2,2018-01-25 12:00:36.000,2018-01-26 12:04:33.114,24.065865,SciOps
11188,1371235,OSF-APE2,2018-01-24 21:00:01.531,2018-01-25 12:00:00.010,14.999578,SciOps
18046,1367355,OSF-APE2,2018-01-23 12:03:30.296,2018-01-24 16:21:00.303,28.291669,SciOps
10009,1365076,OSF-APE2,2018-01-22 19:00:01.539,2018-01-23 12:00:00.528,16.999719,SciOps
9369,1362495,OSF-APE2,2018-01-21 12:00:01.938,2018-01-22 12:00:00.919,23.999717,SciOps
9355,1361236,OSF-APE2,2018-01-20 18:30:00.798,2018-01-21 12:00:00.185,17.499830,SciOps
404,1359434,OSF-APE2,2018-01-19 19:00:00.373,2018-01-20 17:30:00.329,22.499988,SciOps
35364,1356395,OSF-APE2,2018-01-18 12:00:01.654,2018-01-19 12:19:00.284,24.316286,SciOps
29417,1354914,OSF-APE2,2018-01-17 21:00:01.332,2018-01-18 12:00:00.601,14.999797,SciOps
30409,1352036,OSF-APE2,2018-01-16 12:00:36.180,2018-01-17 16:02:13.655,28.027076,SciOps
36172,1350497,OSF-APE2,2018-01-15 19:00:01.003,2018-01-16 12:00:30.437,17.008176,SciOps
29666,1348001,OSF-APE2,2018-01-14 12:00:01.032,2018-01-15 12:00:00.868,23.999954,SciOps
33145,1347055,OSF-APE2,2018-01-13 21:00:01.443,2018-01-14 12:00:00.472,14.999730,SciOps
36535,1344914,OSF-APE2,2018-01-12 19:00:01.914,2018-01-13 16:15:45.389,21.262076,SciOps
36883,1341994,OSF-APE2,2018-01-11 12:01:15.724,2018-01-12 12:00:00.766,23.979178,SciOps
32610,1340854,OSF-APE2,2018-01-10 21:00:01.151,2018-01-11 12:01:09.764,15.019059,SciOps
31586,1338382,OSF-APE2,2018-01-09 12:00:01.285,2018-01-10 16:00:00.285,27.999722,SciOps
34739,1337412,OSF-APE2,2018-01-08 19:00:01.396,2018-01-09 12:00:00.972,16.999882,SciOps
32407,1335655,OSF-APE2,2018-01-07 12:09:24.474,2018-01-08 12:00:00.396,23.843312,SciOps
31819,1334154,OSF-APE2,2018-01-06 21:00:01.710,2018-01-07 12:00:00.920,14.999781,SciOps
31814,1333876,OSF-APE2,2018-01-06 16:15:08.696,2018-01-06 21:00:00.653,4.747766,SciOps
34032,1331886,OSF-APE2,2018-01-05 19:00:01.399,2018-01-06 16:14:03.042,21.233790,SciOps
33684,1329275,OSF-APE2,2018-01-04 12:00:01.827,2018-01-05 12:00:00.845,23.999727,SciOps
34384,1328155,OSF-APE2,2018-01-03 21:00:01.529,2018-01-04 12:00:00.529,14.999722,SciOps
33404,1326761,OSF-APE2,2018-01-02 19:24:27.365,2018-01-03 16:00:00.890,20.592646,SciOps
32732,1324977,OSF-APE2,2018-01-01 12:04:06.653,2018-01-02 12:00:50.862,23.945614,SciOps
32964,1323654,OSF-APE2,2017-12-31 12:00:01.804,2018-01-01 12:04:02.967,24.066990,SciOps

## Exercise: inspect the other entries

Given that

* MANUAL entries are type 0 (and its look like they are not used too much)
* SBEX have SE_TYPE = 2
* ENGINEERING are type 3
* MMEX have a type equal 4
* WEATHER are type 5
* ANTENNA are type 6 (but this entries seem deprecated, as there is none in the last year, and around 10 in total)
* ARRAY are type 7
* DOWNTIMES are type 8
* CMDLN (command lines) type 9
* AOG entries are type 10

Use what you have learned to inspect these entries, doing something like:

In [47]:
downtimes_df = shiftlog_entries_df.query('SE_TYPE == 8').dropna(axis=1, how='all')

In [48]:
downtimes_df.head()

,SE_ID,SE_TYPE,SE_SUBJECT,SE_TIMESTAMP,SE_AUTHOR,SE_START,SE_LOCATION,SE_ISPOWERCUT,SE_PCRECOVERYEND,SE_PCRECOVERYSTART,SE_WRECOVERYEND12M,SE_WRECOVERYEND7M,SE_WRECOVERYENDTP,SE_WRECOVERYSTART12M,SE_WRECOVERYSTART7M,SE_WRECOVERYSTARTTP,SE_DOWNTIMETYPE
68,1411042,8,ACA PR3,2018-03-25 18:27:00.000,jocortes,2018-03-25 17:40:42.000,OSF-APE2,0,2018-03-25 19:25:47.608,2018-03-25 19:25:47.608,NaT,NaT,NaT,NaT,NaT,NaT,Technical
69,1411043,8,ACA: PR3 PR4,2018-03-25 19:03:00.962,jocortes,2018-03-25 18:27:00.962,OSF-APE2,0,2018-03-25 19:27:57.962,2018-03-25 19:27:57.962,NaT,NaT,NaT,NaT,NaT,NaT,Technical
78,1411655,8,ACA TP PR2,2018-03-26 22:24:13.000,Gamel,2018-03-26 21:31:21.000,OSF-APE2,0,2018-03-26 23:12:45.315,2018-03-26 23:12:45.315,NaT,NaT,NaT,NaT,NaT,NaT,Technical
127,1409159,8,DV04 removed due to bad pointing,2018-03-21 23:59:06.000,Ludwig,2018-03-21 23:49:03.000,OSF-APE2,0,2018-03-22 05:03:05.551,2018-03-22 05:03:05.551,NaT,NaT,NaT,NaT,NaT,NaT,Technical
347,1415074,8,BL,2018-04-03 03:30:09.000,Patricio,2018-04-03 02:52:41.000,OSF-APE2,0,2018-04-03 04:02:59.764,2018-04-03 04:02:59.764,NaT,NaT,NaT,NaT,NaT,NaT,Technical

In our next live training session we will inspect the 3 other tables associated to the shiftlog, and how are the used together with the main shiftlog_entries table.

## Optional exercise: accessing the Source Catalog Tables

**Your job: understand the data sources**

In [49]:
cur.execute('SELECT * FROM SOURCECATALOGUE.MEASUREMENTS')
measurements_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

cur.execute('SELECT * FROM SOURCECATALOGUE.MEASUREMENTS_LOG')
measurements_log_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

cur.execute('SELECT * FROM SOURCECATALOGUE.SOURCES')
sources_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

cur.execute('SELECT * FROM SOURCECATALOGUE.SOURCENAME')
sourcenames_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

cur.execute('SELECT * FROM SOURCECATALOGUE.CATALOGUES')
catalogue_df = pd.DataFrame(
    cur.fetchall(), columns=[rec[0] for rec in cur.description])

In [50]:
cur.close()
con.close()

In [51]:
measurements_df.head()

,MEASUREMENT_ID,CATALOGUE_ID,SOURCE_ID,RA,RA_UNCERTAINTY,DEC,DEC_UNCERTAINTY,FREQUENCY,FLUX,FLUX_UNCERTAINTY,DEGREE,DEGREE_UNCERTAINTY,ANGLE,ANGLE_UNCERTAINTY,ORIGIN,DATE_OBSERVED,DATE_CREATED,VALID,UVMIN,UVMAX,UPDATE_DATE,UPDATE_USER,UPDATE_COMMENT,DELTA_RA,DELTA_DEC,POL_FRACTION_CIRCULAR,POL_FRACTION_CIRCULAR_UNCERTA,AMPLITUDE_CALIBRATOR,EXECBLOCK_UID,EXTENSION,FLUXRATIO
0,182,1,1788,54.878907,1.000000e-07,-1.776612,1.000000e-07,3.526970e+11,0.86,0.05,NaN,NaN,NaN,NaN,SMA,2010-09-18,2013-06-22 20:51:21.646639,1,NaN,NaN,2016-03-16 14:41:03,unknown,None,NaN,NaN,NaN,NaN,None,None,None,None
1,183,1,1799,55.148366,2.000000e-07,-21.325326,2.000000e-07,9.993082e+10,0.48,0.04,NaN,NaN,NaN,NaN,ATCA,2007-05-18,2013-06-22 20:51:21.664636,1,NaN,NaN,2016-03-16 14:41:03,unknown,None,NaN,NaN,NaN,NaN,None,None,None,None
2,184,1,1799,55.148366,2.000000e-07,-21.325326,2.000000e-07,2.300000e+11,0.39,0.02,NaN,NaN,NaN,NaN,SMA,2009-10-21,2013-06-22 20:51:21.664864,1,NaN,NaN,2016-03-16 14:41:03,unknown,None,NaN,NaN,NaN,NaN,None,None,None,None
3,185,1,1799,55.148366,2.000000e-07,-21.325326,2.000000e-07,3.526970e+11,0.32,0.03,NaN,NaN,NaN,NaN,SMA,2009-12-16,2013-06-22 20:51:21.665111,1,NaN,NaN,2016-03-16 14:41:03,unknown,None,NaN,NaN,NaN,NaN,None,None,None,None
4,186,1,1837,56.643768,8.000000e-07,54.016419,1.200000e-06,9.993082e+10,0.47,0.05,NaN,NaN,NaN,NaN,OVRO MMA,2003-12-25,2013-06-22 20:51:21.665322,1,NaN,NaN,2016-03-16 14:41:03,unknown,None,NaN,NaN,NaN,NaN,None,None,None,None

In [52]:
grid = qgrid.show_grid(measurements_df)
grid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…